/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.about__container {
  padding-top: 82px;
  padding-bottom: 70px;
}

.about__header {
  margin-bottom: 15px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: var(--text-color);
}

.about__text {
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

@media (max-width: 740px) {
  .about__header {
    font-size: 28px;
    line-height: 35px;
  }

  .about__text {
    max-width: 1080px;
    font-size: 14px;
    line-height: 28px;
    color: var(--text-color);
  }
}

@media (max-width: 320px) {
  .about__container {
    padding-top: 53px;
    padding-bottom: 40px;
  }

  .about__header {
    margin-bottom: 13px;
  }
}