/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.catalogue__container {
  padding-top: 80px;
  padding-bottom: 46px;
}

.catalogue__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalogue__flag-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalogue__header {
  margin-bottom: 15px;
  margin-right: 30px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.catalogue__description {
  display: none;
  margin-bottom: 35px;
  width: 100%;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.catalogue__description-text {
  margin-bottom: 40px;
  max-width: 1080px;
  min-height: 117px;
}

.catalogue__flags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalogue__flag-item {
  width: 100%;
  height: 80px;
}

.catalogue__fl-btn {
  position: relative;
  display: block;
  margin-right: 24px;
  padding: 0;
  width: 71px;
  height: 71px;
  outline: none;
  cursor: pointer;
  background-size: 48px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.catalogue__fl-btn::before {
  position: absolute;
  content: '';
  display: block;
  padding: 0;
  top: 9px;
  left: 10px;
  width: 48px;
  height: 48px;
  outline: none;
  border: 2px solid transparent;
  border-radius: 29px;
  cursor: pointer;
  background-size: 48px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-transition: border 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: border 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  -o-transition: box-shadow 300ms ease-in-out, border 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, border 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, border 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

.catalogue__fl-btn :last-child {
  margin-right: 0;
}

.catalogue__fl-btn--1 {
  background-image: url(../img/fl1.svg);
  border: 2px solid transparent;
}

.catalogue__fl-btn--2 {
  background-image: url(../img/fl2.svg);
  border: 2px solid transparent;
}

.catalogue__fl-btn--3 {
  background-image: url(../img/fl3.svg);
  border: 2px solid transparent;
}

.catalogue__fl-btn--4 {
  background-image: url(../img/fl4.svg);
  border: 2px solid transparent;
}

.catalogue__fl-btn--5 {
  background-image: url(../img/fl5.svg);
  border: 2px solid transparent;
}

.catalogue__fl-btn--active {
  border: 2px solid #7943A4;
}

.catalogue__fl-btn:focus-visible::before {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(157, 92, 208, 0.7);
          box-shadow: 0px 0px 20px 0px rgba(157, 92, 208, 0.7);
}

.catalogue__fl-btn--active .catalogue__fl-btn::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}


.catalogue__description--active {
  display: block;
  min-height: 130px;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0; 
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0; 
  }

  to {
    opacity: 1;
  }
}

.catalogue__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalogue__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalogue__main-1,
.catalogue__main-2  {
  width: 50%;
}

.ui-accordion-content {
  padding: 25px 0;
}

.catalogue__article {
  display: none;
  top: 0px;
}

.catalogue__article--active {
  display: block;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

.catalogue__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalogue__article-ref {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--add-color)
}

.catalogue__artist-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
}

.catalogue__date {
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.catalogue__artist-description {
  padding-top: 5px;
  font-size: 16px;
  line-height: 32px;
  max-width: 749px;
  color: var(--text-color);
}

.catalogue__accordion-header:hover {
  cursor: pointer;
}

.catalogue__accordion-header:focus-visible:not(hover) .catalogue__header-text {
  background-color: var(--add-color);
}

.catalogue__accordion-header:hover:not(focus) .catalogue__header-text {
  background-color: transparent;
  color: var(--add-color);
}

.catalogue__accordion-header:focus-visible .catalogue__accordion-button {
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23D1A9F0'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='black'/%3E%3C/svg%3E ");
}

.catalogue__accordion-header:active:not(focus):not(hover) .catalogue__header-text {
  background-color: transparent;
  color: #7943A4;
}

.catalogue__accordion-header:active:not(focus):not(hover) .catalogue__accordion-button {
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49 25C49 38.2548 38.2548 49 25 49C11.7452 49 1 38.2548 1 25C1 11.7452 11.7452 1 25 1C38.2548 1 49 11.7452 49 25Z' fill='%23D1A9F0' stroke='%239D5CD0' stroke-width='2'/%3E%3Cpath d='M16.6667 27.3334L25 19L33.3333 27.3333' stroke='black'/%3E%3C/svg%3E");
}

.catalogue__header-text {
  color: var(--main-color);
}  

.catalogue__persons { 
  -webkit-transition: color .3s ease-in-out; 
  -o-transition: color .3s ease-in-out; 
  transition: color .3s ease-in-out;
}

.catalogue__persons-item {
  border-bottom: 1px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.catalogue__fl-btn:hover::before,
.catalogue__fl-btn:focus-visible::before {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(157, 92, 208, 0.7);
          box-shadow: 0px 0px 20px 0px rgba(157, 92, 208, 0.7);
}

.catalogue__fl-btn:active::before {
  border: 2px solid #7943A4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.catalogue__item:first-child {
  border-top: 1px solid #cacaca;
}

.catalogue__item {
  position: relative;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.catalogue__item:hover {
  cursor: pointer;
  border-color: var(--add-color);
  color: var(--add-color);
  background-color: transparent;
}

.catalogue__item:first-child:hover,
.catalogue__item:hover,
.catalogue__item:focus-within {
  border-color: var(--add-color);
}

.catalogue__item:first-child:hover {
  border-top: 1px solid var(--add-color);
}

.catalogue__accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
  padding-top: 28px;
  padding-bottom: 35px;
  padding-left: 0px;
  padding-right: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.ui-accordion-header-active {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ui-accordion-header-icon {
  display: none;
}

.catalogue__header-text {
 -webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out;
 -o-transition: color .3s ease-in-out, background-color .3s ease-in-out;
 transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.catalogue__artists-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 730px;
  max-height: 298px;
}

.catalogue__accordion-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' fill='%23ECECEC'/%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' stroke='%23ECECEC'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='black'/%3E%3C/svg%3E ");  background-repeat: no-repeat;
  -webkit-transition: background-image .3s ease-in-out;
  -o-transition: background-image .3s ease-in-out;
  transition: background-image .3s ease-in-out;
}

.catalogue__persons-btn {
  font-size: 16px;
  line-height: 30px;
  max-height: 30px;
  color: var(--text-color);
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color .3s ease-in-out, border-bottom .3s ease-in-out, background-color .3s ease-in-out;
  -o-transition: color .3s ease-in-out, border-bottom .3s ease-in-out, background-color .3s ease-in-out;
  transition: color .3s ease-in-out, border-bottom .3s ease-in-out, background-color .3s ease-in-out;
}

.catalogue__text-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalogue__left-img {
  margin-bottom: 23px;
}

.catalogue__empty-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
}

.catalogue__empty-go-to {
  max-width: 275px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalogue__empty-img {
  position: relative;
  display: block;
  width: 275px;
  height: 189px;
  border: 2px solid rgba(183, 183, 183, 1);
  margin-right: 24px;
}

.catalogue__empty-img::after {
  content:'';
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  /* width: 251px;
  height: 165px; */
  background-color: rgba(183, 183, 183, 1);
}

.catalogue__gallery-ref {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: rgba(157, 92, 208, 1);
}

.catalogue__item:hover .catalogue__accordion-button {
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23D1A9F0'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='black'/%3E%3C/svg%3E%0A");
}

.catalogue__persons-btn:hover {
  border-bottom: 1px solid var(--add-color);
  color: var(--add-color);
}

.catalogue__persons-btn--active,
.catalogue__persons-btn:active { 
  color: #7943A4;
}

.catalogue__persons-btn:focus-visible {
  background-color: var(--add-color);
  color: #ffffff;
}

.catalogue__persons-btn:active {
  background-color: transparent;
  color: #7943A4;
}
.ui-accordion-header-active.catalogue__accordion-header {
  border-bottom: 1px solid #cacaca;
}

.ui-accordion-header-active:focus.catalogue__accordion-header {
  border-bottom: 1px solid var(--add-color);
}

.catalogue__item:focus-within {
  border-bottom: 1px solid #cacaca;
}

.ui-accordion-header-active.catalogue__accordion-header .catalogue__accordion-button {
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49 25C49 11.7452 38.2548 1.00001 25 1.00001C11.7452 1.00001 1 11.7452 1 25C1 38.2548 11.7452 49 25 49C38.2548 49 49 38.2548 49 25Z' fill='%23D1A9F0' stroke='%239D5CD0' stroke-width='2'/%3E%3Cpath d='M33.3333 26.6667L25 18.3333L16.6667 26.6667' stroke='black'/%3E%3C/svg%3E%0A");
}

.ui-accordion-header-active.catalogue__accordion-header {
  color: #7943A4;
}

.catalogue__accordion-header:hover:not(focus-visible) {
  color: var(--add-color);
}

.catalogue__accordion-header:focus-visible:not(hover) {
  color: var(--main-color);
}

.catalogue__accordion-header:focus-visible .catalogue__accordion-button {
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23D1A9F0'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='black'/%3E%3C/svg%3E ");
}

.catalogue__header-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: rgba(51, 51, 51, 1);
}  

.catalogue__persons { 
  -webkit-transition: color .3s ease-in-out; 
  -o-transition: color .3s ease-in-out; 
  transition: color .3s ease-in-out;
}

.catalogue__persons-item {
  border-bottom: 1px solid transparent;
}

.catalogue__fl-btn:hover::before,
.catalogue__fl-btn:focus-visible::before {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(157, 92, 208, 0.7);
          box-shadow: 0px 0px 20px 0px rgba(157, 92, 208, 0.7);
}

.catalogue__fl-btn:active::before {
  border: 2px solid #7943A4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1650px) {
  .catalogue__main-1 {
    margin-right: 50px;
  }
}

@media (max-width: 1220px) {
  .catalogue__container {
    padding-bottom: 20px;
  }

  .catalogue__header {
    margin-right: 35px;
  }

  .catalogue__artists-list {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    margin-right: 0;
    max-height: 384px;
    text-align: left;
  }

  .catalogue__persons-item {
    max-height: 32px;
  }

  .catalogue__fl-btn {
    margin-right: 25px;
  }

  .catalogue__flag-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ui-accordion-content-active {
    padding-bottom: 24px;
  }
  

  .catalogue__description-text {
    margin-bottom: 40px;
  }

  .catalogue__persons-item {
    max-width: 200px;
  }

  .catalogue__fl-btn {
    margin-right: 30px;
    padding: 0;
    width: 66px;
    height: 66px;
  }

  .catalogue__fl-btn::before {
    width: 46px;
    height: 46px;
    background-position: center center;
    background-size: 100%;
  }

  .catalogue__left-img {
    margin-bottom: 20px;
  }

  .ui-accordion-header-collapsed { 
    padding-top: 35px;
    padding-bottom: 29px;
  }
}

@media (max-width: 960px) {
  .catalogue__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .catalogue__header {
    margin-bottom: 0;
    margin-right: 30px;
  }

  .catalogue__head {
    max-height: 80px;
  }

  .catalogue__main-1,
  .catalogue__main-2  {
    width: 100%;
  }

  .catalogue__artists-list {
    max-height: 298px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .catalogue__persons-item {
    line-height: 30px;
  }

  .catalogue__flags {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
  }

  .catalogue__fl-btn {
    margin-right: 34px;
  }

  .catalogue__fl-btn--5 {
    margin-right: 0;
  }

  .catalogue__flag-item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .ui-accordion-header {
    padding-top: 31px;
    padding-bottom: 33px;
  }

  .ui-accordion-header-active {
    padding-top: 22px;
  }

  .catalogue__block {
    margin-bottom: 45px;
  }

  .catalogue__description-text {
    margin-bottom: 20px;
  }

  .ui-accordion-header-active {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .ui-accordion-content {
    padding-bottom: 25px;
  }

  .ui-accordion-header-collapsed {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .catalogue__block {
    margin-bottom: 50px;
  }

  .catalogue__left-img {
    margin-bottom: 22px;
  }
}

@media (max-width: 720px) { 
  .catalogue__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 160px;
  }

  .catalogue__flags {
    margin-bottom: 40px;
  }

  .catalogue__artists-list {
    max-height: 450px;
  }
}

@media (max-width: 580px) { 
  .catalogue__header {
    margin-right: 0;
  }

  .catalogue__fl-btn {
    width: 64px;
    height: 64px;
    background-size: 42px;
  }

  .catalogue__fl-btn::before {
    width: 64px;
    height: 64px;
    top: -2px;
    left: -2px;
    right: 0px;
    bottom: 0px;
  }

  .catalogue__flag-item {
    display: block;
    width: 64px;
    height: 64px;
  }
}

@media (max-width: 520px) { 
  .catalogue__container {
    padding-bottom: 10px;
  }
}

@media (max-width: 410px) { 
  .catalogue__artists-list {
    max-height: 768px;
  }

  .catalogue__fl-btn {
    width: 44px;
    height: 44px;
    background-size: 32px;
  }

  .catalogue__fl-btn::before {
    width: 44px;
    height: 44px;
    top: -2px;
    left: -2px;
    right: 0px;
    bottom: 0px;
  }

  .catalogue__flag-item {
    display: block;
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 320px) { 
  .catalogue__container {
    padding-top: 50px;
  }

  .catalogue__header {
    margin-bottom: 5px;
    font-size: 28px;
    line-height: 38px;
  }

  .catalogue__description-text {
    display: none;
  }

  .catalogue__head {
    max-height: 105px;
  }

  .catalogue__fl-btn--1 {
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  .catalogue__fl-btn--2 {
    -webkit-transform: translateX(-3px);
        -ms-transform: translateX(-3px);
            transform: translateX(-3px);
  }

  .catalogue__fl-btn--4 {
    -webkit-transform: translateX(3px);
        -ms-transform: translateX(3px);
            transform: translateX(3px);
  }

  .catalogue__fl-btn--5 {
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
  }

  .catalogue__header-text {
    font-size: 18px;
    line-height: 32px;
  }

  .ui-accordion-header-active.catalogue__accordion-header .catalogue__accordion-button {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49 25C49 11.7452 38.2548 1.00001 25 1.00001C11.7452 1.00001 1 11.7452 1 25C1 38.2548 11.7452 49 25 49C38.2548 49 49 38.2548 49 25Z' fill='%23D1A9F0' stroke='%239D5CD0' stroke-width='2'/%3E%3Cpath d='M33.3333 26.6667L25 18.3333L16.6667 26.6667' stroke='black'/%3E%3C/svg%3E%0A");
    background-position: right;
  }

  .catalogue__accordion-button {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' fill='%23ECECEC'/%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' stroke='%23ECECEC'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='black'/%3E%3C/svg%3E ");  background-repeat: no-repeat;
    background-position: right;
    -webkit-transition: background-image .3s ease-in-out;
    -o-transition: background-image .3s ease-in-out;
    transition: background-image .3s ease-in-out;
  }

  .catalogue__accordion-header:active:not(focus):not(hover) .catalogue__accordion-button {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='14' transform='matrix(1 1.74846e-08 -2.91409e-08 -1 15 15)' fill='%23D1A9F0' stroke='%239D5CD0' stroke-width='2'/%3E%3Cpath d='M20 16L15 11L10 16' stroke='black'/%3E%3C/svg%3E ");  
    background-position: right;
  }

  .catalogue__accordion-header:focus-visible .catalogue__accordion-button {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23D1A9F0'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='black'/%3E%3C/svg%3E ");
    background-position: right;
  }

  .catalogue__item:hover .catalogue__accordion-button {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23D1A9F0'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='black'/%3E%3C/svg%3E%0A");
    background-position: right;
  }



  .ui-accordion-header-active {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .ui-accordion-content-active {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .ui-accordion-header-collapsed {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .catalogue__empty-header {
    margin-top: 0;
    font-size: 18px;
  }

  .catalogue__empty-img {
    margin-right: 25px;
    max-width: 90px;
    max-height: 130px;
  }

  .catalogue__empty-img::after {
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
  }

  .catalogue__empty-go-to,
  .catalogue__gallery-ref {
    font-size: 16px;
  }

  .catalogue__left-img,
  .catalogue__artist-name {
    margin-bottom: 12px;
  }

  .catalogue__artist-description {
    padding: 0;
  }

  .catalogue__date {
    margin-bottom: 7px;
  }

  .catalogue__artist-description {
    max-width: 289px;
  }
}