.editions__label {
  position: relative;
  cursor: pointer;
  padding-left: 20px;
  text-align: center;
  transition: all .3s ease-in-out;
}

.editions__item,
.editions__ckeckbox-text,
.editions__label  {
  transition: all .3s ease-in-out;
}


.editions__checkbox + .editions__span {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: 0px;
  left: 0;
  bottom: 0px;
  right: 0;
  background-color: transparent;
  display: inline-block;
  width: 12px;
  height: 12px;
  transition: all .3s ease-in-out;
}

.editions__checkbox+span::before { 
  position: absolute;
  display: inline-block;
  cursor: pointer;
  content: '\2022';
  width: 4px;
  height: 4px;
  top: -5px;
  left: 3px;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all .3s ease-in-out;
  color: #C283F3;
}

.editions__checkbox:checked+span:before { 
  opacity: 1;
}

.editions__checkbox+span::after { 
  content: '';
  position: absolute;
  display: inline-block;
  border: 1px solid #ffffff;
  top: 5px;
  left: 0px;
  right:0;
  bottom:0;
  width: 12px;
  height: 12px;
  transition: all .3s ease-in-out;
}

.editions__checkbox:checked+span::after { 
  border: 1px solid #C283F3;
}

.editions__label:hover,
.editions__label:focus {
  color: #C283F3;
}

.editions__label:hover .editions__checkbox + span::after {
  border: 1px solid #C283F3;
}

.editions__item:focus-within .editions__checkbox + span::after {
  border: 1px solid #C283F3;
}

.editions__label:focus-within .editions__checkbox + span::after {
  border: 1px solid #C283F3;
}

.editions__item:focus {
  color: #C283F3;
}

.editions__checkbox {
  color: #C283F3 !important;
}

.editions__item .editions__checkbox:checked+span,
.editions__label:focus-within .editions__checkbox + span {
  color: #C283F3;
}

@media (max-width: 580px) {

.editions__checkbox+span::before  { 
  top: 8px;
  left: 3px;
}

.editions__checkbox+span::after { 
  top: 18px;
  left: 0px;
}

.editions__checkbox-mobile--close .editions__checkbox+span::after {
  top: 10px;
  left: 0;
}
}
