.editions {
  background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.editions__container {
  padding-top: 80px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.editions__left {
  width: calc(210 / 1600 * 100%);
}

.editions__header {
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.editions__categories-header,
.editions__form-header  {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.editions__form-header {
  margin-bottom: 10px;
}

.editions__categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 32px;
  min-height: 379px;
  font-size: 16px;
  line-height: 32px;
}

.editions__label {
  cursor: pointer;
  padding-left: 24px;
  text-align: center;
  transition: all .3s ease-in-out;
}

.editions__item {
  display: inline-block;
  font-weight: 400;
  width: 350px;
  transition: all .3s ease-in-out;
}

.editions__price-form {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  max-width: 277px;
  max-height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  font-size: 15px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}

.editions__min-price,
.editions__max-price {
  max-width: 73px;
  padding: 3px 3px 5px 10px;
  border: none;
  background-color: rgba(157, 92, 208, 0.5);
  color: #ffffff;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.editions__before,
.editions__from,
.editions__currency {
  padding: 0 10px;
}

.editions__min-price::placeholder,
.editions__max-price::placeholder {
  color: #ffffff;
}

.editions__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0;
}

.editions__swiper {
  padding-top: 50px;
  width: calc(1155 / 1600 * 100%);
  margin-left: auto;
  margin-right: 0;
  /* padding-top: 50px; */
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.editions__swiper-container {
  max-width: 1170px;
  width: 100%;
  min-height: 555px;
}

.editions__swiper-slider {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  max-height: 512px;
}

.editions__swiper-pagination-fraction {
  display: flex;
  position: absolute;
  display: block;
  top: 0;
  left: 40px;
  width: 50px;
  height: 23px;
  /* margin-right: 10px; */
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

.editions__swiper-pagination-fraction-current,
.editions__swiper-pagination-fraction-total {
  display: block;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color);
}

.editions__swiper-btns {
  position: relative;
  display: flex;
  justify-content: space-between;
  bottom: 18px;
  left: 4px;
  margin-bottom: 28px;
  max-width: 130px;
  align-items: center;
  margin-bottom: 10px;
}

 .editions__nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  background-color: #527590;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.editions__nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.editions__button-prev,
.editions__button-next {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.editions__button-prev::before,
.editions__button-next::before { 
  left: calc(50% - 7px / 2);
}


.editions__button-prev {
  background-image: url(../img/btn-prev.svg);
  background-position: center;
}

.editions__button-next {
  background-image: url(../img/btn-next.svg);
  background-position: center;
}

.editions__article {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  color: var(--main-color);
}

.editions__image-slide {
  position: relative;
  flex-shrink: 0;
  transition-property: transform;
  width: 100%;
  height: 390px;
  margin-bottom: 22px;
}

.editions__img {
  height: 390px;
}

.editions__article-text-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 350px;
  max-height: 59px;
}

.editions__block-price {
  order: 3;
  text-align: end;
}

.editions__article-text {
  margin-bottom: 17px;
  order: 2;
}

.editions__block-left-element {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 3px;
}

.editions__block-price {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.editions__article-btn {
  position: relative;
  max-width: 120px;
  padding: 8px 20px;
  border: 2px solid var(--add-color);
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--main-color);
  transition: all .3s ease-in-out;
}

.editions__article-btn::before {
  position: absolute;
  content: '';
  padding: 23px 63px;
  top: -6px;
  right: 0;
  bottom:0;
  left: -6px;
  width: 75px;
  height: 19px;
  border: 2px solid transparent;
  border-radius: 100px;
  transition: all .3s ease-in-out;
}

.editions__article-btn::after {
  position: absolute;
  content: '';
  top: -3px;
  right: 0;
  bottom:0;
  left: 0;
  padding: 19px 0;
  border: 3px solid transparent;
  border-radius: 100px;
  transition: all .3s ease-in-out;
}

.editions__article-btn:hover {
  background-color: var(--add-color);
  color: var(--main-color)
}

.editions__article-btn:focus-visible:before {
  border: 2px solid #C283F3;
}

.editions__article-btn:active:not(hover):not(focus):after {
  border: 3px solid #D1A9F0;
  color: var(--main-color);
}

.editions__article-btn:active {
  background-color: #7943A4;
}

.editions__min-price:hover,
.editions__max-price:hover {
  background-color: var(--add-color);
  cursor: pointer;
}

.editions__min-price:focus,
.editions__max-price:focus {
  background-color: var(--add-color);
  border: 1px solid #ffffff;
}

.editions__min-price:active,
.editions__max-price:active {
  background-color: var(--add-color);
  border: 1px solid transparent;
}

.editions__swiper-pagination {
  margin-right: 10px;
  text-align: center;
  color: #373850;
}

.editions__swiper-container {
  overflow: hidden;
}

.editions__swiper-slider{
  display: flex;
  justify-content: space-between;
}

.editions__article{
  min-height: 100px;
}

.editions__checkbox-btn {
  display: none;
  border: none;
  background-color: transparent;
}


@media (max-width: 1310px) {
  .editions__swiper {
    width: calc(1100 / 1600 * 100%);
  }

  .editions__left {
    margin-right: 50px;
  }

  .editions__main {
    display: flex;
    justify-content: flex-start;
  }

  .editions__image-slide,
  .editions__img {
    height: 320px;
  }

  .editions__img {
    height: 320px;
    /* width: 290px; */
  }

  .editions__block-left-element {
    max-width: 150px;
  }

  .editions__item {
    width: 250px;
  }
}

@media (max-width: 1110px) {
  .editions__left {
    margin-right: 31px;
  }

  .editions__container {
    padding-bottom: 32px;
  }

  .editions__max-price {
    padding-left: 10px;
  }

  .editions__img {
    width: inherit;
  }

  .editions__image-slide {
    margin-bottom: 13px;
  }

  .editions__swiper-btns {
    max-width: 135px;
  }

  .editions__swiper-pagination-fraction {
    left: 42px;
  }

  .editions__img {
    max-height: 319px;
  }
}

@media (max-width: 1010px) { 
  .editions__main {
    flex-direction: column;
  }

  .editions__left {
    width: 100%;
    margin-right: 0;
  }

  .editions__categories {
    flex-wrap: wrap;
    height: 160px;
    min-height: 160px;
    justify-content: start;
    align-content: space-between;
  }

  .editions__item {
    max-width: 210px;
  }

  .editions__price-form {
    width: 277px;
  }

  .editions__swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .editions__img {
    height: 320px;
  }

  .editions__article-text-block {
    max-width: 290px;
  }
}

@media (max-width: 768px) {
  .editions__container {
    padding-top: 83px;
    padding-bottom: 72px;
  }

  .editions__categories-header {
    margin-bottom: 5px;
  }

  .editions__label {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }

  .editions__ckeckbox-text {
    display: inline-flex;
  }

  .editions__categories {
    margin-bottom: 28px;
  }

  .editions__item {
    max-width: 182px;
  }

  .editions__item:nth-child(7n) { 
    margin-right: 32px;
  }

  .editions__form-header {
    margin-bottom: 10px;
  }

  .editions__price-form {
    margin-bottom: 15px;
  }

  .editions__price-form,
  .editions__min-price,
  .editions__max-price {
    max-height: 40px;
  }

  .editions__max-price {
    padding-left: 10px;
    padding-right: 1px;
    line-height: 32px;
  }

  .editions__swiper {
    padding-top: 51px;
  }

  .editions__swiper-container {
    width: 93%;
    min-height: 440px;
  }
  
  .editions__block-left-element {
    margin-bottom: 0;
  }

  .editions__swiper-btns {
    max-width: 127px;
    margin-bottom: 14px;
  }

  .editions__nav-btn {
    width: 30px;
    height: 30px;
  }

  .editions__swiper-pagination-fraction {
    top: 2px;
    left: 36px;
  }

  .editions__image-slide {
    margin-bottom: 14px;
  }

  .editions__article-text-block {
    margin-bottom: 2px;
  }

  .editions__article-text {
    margin-bottom: 18px;
  }
}

@media (max-width: 740px) {
  .editions__categories {
    height: 460px;
    min-height: 460px;
  }
}

  @media (max-width: 580px) {
    .editions__swiper {
      max-height: none;
    }

    .editions__swiper-slider {
      max-height: none;
    }

    .editions__swiper-container {
      overflow: visible;
    }

    .editions__swiper-slider {
      flex-wrap: wrap;
    }
    
    .editions__article {
      width: calc(100% / 2 - 10px);
      margin-bottom: 20px;
    }

    .editions__question {
      margin-top: -1px;
      margin-bottom: 20px;
      border-top: 1px solid transparent;
      max-height: 100%;
      margin-bottom: 7px;
      border-bottom: 1px solid rgba(255, 255, 255, .5);
      transition: border-color 0.3s ease-in-out;
    }

    .ui-accordion-content-active {
      height: auto;
    }

    .editions__question:first-child {
      border-top: 1px solid rgba(255, 255, 255, .5);
    }

    .editions__question:first-child:hover,
    .editions__question:hover,
    .editions__question:focus-visible {
      border-color: var(--add-color);
    }

    .editions__categories-header {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-top: 0;
      margin-bottom: 0;
      padding: 8px 0;
      height: auto;
      min-height: auto;
      cursor: pointer;
      transition: color .3s ease-in-out;
    }
  
    .editions__head-icon {
      display: block;
      align-self: center;
      height: 7px;
      width: 7px;
      border-color: #ffffff;
      border-left: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      transform: rotate(-45deg);
      transition: transform .3s ease-in-out, border-color .2s ease-in-out;
    }

    .editions__head-icon:hover,
    .editions__head-icon:focus-within {
      border-color: var(--add-color);
    }

    .editions__head-icon:active {
      transform: rotate(135deg);
      border-color: var(--add-color);
    }

    .editions__categories {
      cursor: pointer;
      flex-wrap: nowrap;
      padding: 0;
      /* min-height: auto; */
    }

    .editions__checkbox:checked ~ .editions__ckeckbox-text {
      color: #C283F3;
    }

    .editions__categories-header:hover,
    .editions__categories-header:focus {
      color: var(--add-color);
      outline: none;
    }

    .editions__categories-header.ui-accordion-header-active .editions__head-icon {
      transform: rotate(135deg);
      border-color: var(--add-color);
    }

    .editions__checkbox-mobile--open .editions__label {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, .5);
      display: inline-block;
      text-align: left;
    }

    .editions__accordion-wrap {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    .editions__accordion-wrap .editions__checkbox-wrap {
      display: inline-flex;
      justify-content: space-between;
      padding-top: 7px;
      padding-bottom: 13px;
    }

    .editions__checkbox-active .editions__checkbox-btn {
      display: inline-block;
      padding: 0;
      animation-name: fade-in;
      animation-duration: 1s;
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    .editions__checkbox-active {
      display: inline-flex;
    }

    .editions__checkbox-mobile--close .editions__checkbox-wrap {
      border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    .editions__container {
      padding-top: 50px;
      padding-bottom: 0;
    }

    .editions__header {
      margin-bottom: 13px;
      font-size: 28px;
      line-height: 38px;
    }

    .editions__categories-header {
      max-width: 99%;
      padding-top: 5px;
      padding-bottom: 6px;
    }

    .editions__checkbox-mobile--close .editions__label:last-child {
      padding-top: 5px;
      padding-bottom: 10px;
      margin-bottom: 22px;
    }

    .editions__left {
      margin-bottom: 35px;
    }

    .editions__swiper {
      max-width: 290px;
      align-self: center;
      padding-top: 0;
    }

    .editions__swiper-slider {
      padding-left: 0;
    }

    .editions__article {
      width: 130px;
      min-width: 130px;
    }

    .editions__img {
      object-fit: cover;
      width: 130px;
      height: 143px;
    }

    .editions__swiper-container {
      width: 290px;
      margin: 0;
    }

    .editions__swiper-slider {
      justify-content: space-between;
    }

    .editions__image-slide {
      height: 143px;
      margin-bottom: 3px;
    }

    .editions__image-slide {
      height: 150px;
    }

    .editions__article-text-block {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .editions__block-price {
      text-align: start;
      order: 3;
      margin-bottom: 15px;
      transform: translateY(7px);
    }

    .editions__article-text {
      margin-bottom: 0px;
      order: 2;
      transform: translateY(2px);
    }

    .editions__article-text,
    .editions__block-left-element,
    .editions__block-price,
    .editions__article-btn {
      font-size: 12px;
      line-height: 16px;
    }

    .editions__article-btn {
      height: 40;
      padding: 10px;
      margin-bottom: 30px; 
      max-width: 130px;
    }

    p.editions__block-left-element,
    p.editions__article-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .editions__article-btn::before {
      min-width: 140px;
      top: -7px;
      left: -7px;
    }
  }

  @media (max-width:320px) {
    .editions__categories-header {
      max-width: 288px;
    }
  }