.editions {
  background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.editions__container {
  padding-top: 80px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.editions__left {
  width: calc(450 / 1600 * 100%);
}

.editions__header {
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.editions__categories-header,
.editions__form-header  {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.editions__form-header {
  margin-bottom: 10px;
}

.editions__categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 32px;
  min-height: 379px;
  font-size: 16px;
  line-height: 32px;
}

.editions__label {
  cursor: pointer;
  padding-left: 20px;
  text-align: center;
  transition: all .3s ease-in-out;
}

.editions__item {
  display: block;
  font-weight: 400;
  width: 350px;
  transition: all .3s ease-in-out;
}

.editions__price-form {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  max-width: 277px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  font-size: 15px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}

.editions__min-price,
.editions__max-price {
  max-width: 73px;
  padding: 4px 0px 7px 10px;
  border: none;
  background-color: rgba(157, 92, 208, 0.5);
  color: #ffffff;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.editions__before,
.editions__from,
.editions__currency {
  padding: 0 10px;
}

.editions__min-price::placeholder,
.editions__max-price::placeholder {
  color: #ffffff;
}

.editions__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0;
}

.editions__swiper {
  padding-top: 30px;
  width: calc(1150 / 1600 * 100%);
  margin-right: 0;
}

.editions__swiper-container {
  max-width: 1170px;
  width: 100%;
  min-height: 557px;
}

.editions__swiper-slider {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  max-height: 512px;
}

.editions__swiper-pagination-fraction {
  display: flex;
  position: absolute;
  display: block;
  top: 0;
  left: 40px;
  width: 50px;
  height: 23px;
  /* margin-right: 10px; */
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

.editions__swiper-pagination-fraction-current,
.editions__swiper-pagination-fraction-total {
  display: block;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color);
}

.editions__swiper-btns {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  max-width: 135px;
  align-items: center;
  margin-bottom: 10px;
}

 .editions__nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  background-color: #527590;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.editions__nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.editions__button-prev,
.editions__button-next {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.editions__button-prev::before,
.editions__button-next::before { 
  left: calc(50% - 7px / 2);
}

/* .editions__button-next::before {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.editions__button-prev::before {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
} */

.editions__button-prev {
  background-image: url(../img/btn-prev.svg);
}

.editions__button-next {
  background-image: url(../img/btn-next.svg);
}

.editions__article {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  color: var(--main-color);
}

.editions__image-slide {
  position: relative;
  flex-shrink: 0;
  transition-property: transform;
  width: 100%;
  height: 390px;
  margin-bottom: 22px;
}

.editions__img {
  height: 390px;
}

.editions__article-text-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.editions__article-text {
  margin-bottom: 17px;
}

.editions__block-left-element {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 4px;
}

.editions__block-price {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.editions__article-btn {
  position: relative;
  max-width: 120px;
  padding: 8px 20px;
  border: 2px solid var(--add-color);
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--main-color);
  transition: all .3s ease-in-out;
}

.editions__article-btn::before {
  position: absolute;
  content: '';
  padding: 23px 63px;
  top: -6px;
  right: 0;
  bottom:0;
  left: -6px;
  width: 75px;
  height: 19px;
  border: 2px solid transparent;
  border-radius: 100px;
  transition: all .3s ease-in-out;
}

.editions__article-btn::after {
  position: absolute;
  content: '';
  top: -3px;
  right: 0;
  bottom:0;
  left: 0;
  padding: 19px 0;
  border: 3px solid transparent;
  border-radius: 100px;
  transition: all .3s ease-in-out;
}

.editions__article-btn:hover {
  background-color: var(--add-color);
  color: var(--main-color)
}

.editions__article-btn:focus-visible:before {
  border: 2px solid #C283F3;
}

.editions__article-btn:active:not(hover):not(focus):after {
  border: 3px solid #D1A9F0;
  color: var(--main-color);
}

.editions__article-btn:active {
  background-color: #7943A4;
}

.editions__min-price:hover,
.editions__max-price:hover {
  background-color: var(--add-color);
  cursor: pointer;
}

.editions__min-price:focus,
.editions__max-price:focus {
  background-color: var(--add-color);
  border: 1px solid #ffffff;
}

.editions__min-price:active,
.editions__max-price:active {
  background-color: var(--add-color);
  border: 1px solid transparent;
}


.editions__swiper{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.editions__swiper-pagination {
  margin-right: 10px;
  text-align: center;
  color: #373850;
}

.editions__swiper-container {
  overflow: hidden;
}

.editions__swiper-slider{
  display: flex;
  justify-content: space-between;
}

.editions__article{
  min-height: 100px;
}

@media (max-width: 1310px) {
  .editions__swiper {
    width: calc(1100 / 1600 * 100%);
  }

  .editions__left {
    margin-right: 50px;
  }

  .editions__main {
    display: flex;
    justify-content: flex-start;
  }

  .editions__image-slide,
  .editions__img {
    height: 320px;
  }

  .editions__img {
    height: 320px;
    width: 290px;
  }

  .editions__block-left-element {
    max-width: 150px;
  }

  .editions__item {
    width: 250px;
  }
}

@media (max-width: 1110px) {
  .editions__left {
    margin-right: 31px;
  }

  .editions__container {
    padding-bottom: 35px;
  }

  .editions__max-price {
    padding-left: 5px;
  }

  .editions__img {
    width: inherit;
  }

  .editions__image-slide {
    margin-bottom: 15px;
  }
}

@media (max-width: 1010px) { 
  .editions__main {
    flex-direction: column;
  }

  .editions__left {
    width: 100%;
    margin-right: 0;
  }

  .editions__categories {
    flex-wrap: wrap;
    height: 160px;
    min-height: 160px;
    justify-content: start;
    align-content: space-between;
  }

  .editions__item {
    max-width: 210px;
  }

  .editions__price-form {
    width: 277px;
  }

  .editions__swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .editions__img {
    height: 320px;
  }

  .editions__article-text-block {
    max-width: 290px;
  }
}

@media (max-width: 768px) {
  .editions__container {
    padding-top: 83px;
    padding-bottom: 58px;
  }

  .editions__categories-header {
    margin-bottom: 10px;
  }

  .editions__categories {
    margin-bottom: 22px;
  }

  .editions__form-header {
    margin-bottom: 10px;
  }

  .editions__price-form,
  .editions__min-price,
  .editions__max-price {
    max-height: 40px;
  }

  .editions__max-price {
    padding-left: 10px;
    padding-right: 1px;
    line-height: 32px;
  }

  .editions__swiper {
    padding-top: 50px;
  }

  .editions__swiper-container {
    width: 93%;
    min-height: 440px;
  }
  
  .editions__block-left-element {
    margin-bottom: 0;
  }
}

@media (max-width: 740px) {
  .editions__checkbox--mobile {

  } 

  .editions__checkbox--mobile .editions__categories-header {
    position: relative;
    margin-bottom: 0;
    padding: 8px 0;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: color .3s ease-in-out;
  }

  .editions__checkbox--mobile .editions__categories-header::after {
    content: '';
    position: absolute;
    top: calc(50% - 6px);
    right: 2px;
    height: 7px;
    width: 7px;
    border-color: #ffffff;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform: rotate(-45deg);
    transition: transform .1s ease-in-out, border .2s ease-in-out;
  }

  .editions__checkbox--mobile .editions__categories {
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }

  .checkbox--mobile .editions__categories-header:hover {
    color: var(--add-color);
  }

  .editions__categories {
    height: 460px;
    min-height: 460px;
  }
}

  @media (max-width: 580px) {
    .editions__swiper {
      max-height: none;
    }

    .editions__swiper-slider {
      max-height: none;
    }

    .editions__swiper-container {
      overflow: visible;
    }

    .editions__swiper-slider {
      flex-wrap: wrap;
    }
    
    .editions__article {
      width: calc(100% / 2 - 10px);
      margin-bottom: 20px;
    }
}