* {
  box-sizing: border-box;
}

.events__container {
  padding-bottom: 60px;
}

.events__header {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.events__articles {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.events__swiper-container {
  width: 100%;
  height: 100%;
}

.events__articles-content {
  display: flex;
  display: none;
  flex-direction: column;
  width: calc((100% - 50px*2) / 3);
  margin-right: 50px;
  margin-bottom: 50px;
  padding-bottom: 48px;
  border: 1px solid #CACACA;
  max-height: 700px;
}

.events__articles-museum,
.events__articles-date,
.events__main-block {
  padding-left: 50px;
  padding-right: 19px;
}

.events__articles-img {
  display: block;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.events__articles-content:nth-child(3){ 
  margin-right: 0;
}

.events__articles-img--first {
  background-image: url(../img/events1.jpg);
}

.events__articles-img--second {
  background-image: url(../img/events2.jpg);
}

.events__articles-img--third {
  background-image: url(../img/events3.jpg);
}

.events__articles-img--four {
  background-image: url(../img/events4.jpg);
}

.events__articles-img--five {
  background-image: url(../img/events5.jpg);
}

.events__articles-content--third {
  display: block;
}

.events__articles-content--four {
  display: none;
}

.events__articles-content--five { 
  display: none;
}

.events__articles-content-active {
  display: block;
}

.events__articles-museum,
.events__articles-date {
  align-self: flex-end;
  text-align: end;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.events__main-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 310px;
}

.events__articles-header {
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.events__articles-description {
  max-width: 100%;
  max-width: 400px;
  min-height: 200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.events__articles-ref {
  max-width: 86px;
  font-size: 16px;
  line-height: 32px;
  border-bottom: 1px solid var(--add-color);
  color: var(--add-color);
  transition: all .3s ease-in-out;
}

.events__all-events-btn {
  display: block;
  max-width: 188px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 15px 35px;
  background-color: transparent;
  border: 2px solid var(--add-color);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--add-color);
  transition: all .3s ease-in-out;
}

.events__btn-inactive{
  display: none;
}

.events__articles-ref:hover {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.events__articles-ref:focus-visible {
  background-color: var(--add-color);
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.events__articles-ref:active {
  color: #333333;
  border-bottom: 1px solid #333333;
}

.events__all-events-btn:hover {
  cursor: pointer;
  background-color: var(--add-color);
  color: var(--main-color)
}

.events__all-events-btn:focus-visible {
  box-shadow: 0px 0px 20px 0px #9D5CD0B2;
  border: 2px solid var(--add-color);
}

.events__all-events-btn:active {
  background-color: #C283F3;
  border: 2px solid #7943A4;
}

@media (max-width: 1615px) { 
  .events__articles-content {
    max-height: 950px;
  }

  .events__main-block {
    min-height: 350px;
  }
}


@media (max-width: 1290px) { 
  .events__main-block {
    min-height: 400px;
  }
}

@media (max-width: 1064px) { 
  .events__container {
    padding-top: 20px;
    padding-bottom: 62px;
  }

  .events__articles-content {
    width: calc((100% - 34px*2) / 3);
    margin-right: 34px;
  }

  .events__articles-header {
    min-width: 230px;
  }

  .events__main-block {
    padding-left: 30px;
    max-width: 270px;
    min-height: 380px;
  }

  .events__articles-img {
    height: 200px;
  }
}

@media (max-width: 960px) { 
  .events__articles-content {
    width: calc((100% - 34px*1) / 2);
    margin-right: 34px;
  }

  .events__articles-img {
    margin-bottom: 11px;
  }

  .events__main-block {
    min-height: 380px;
    max-width: 300px;
    padding-left: 35px;
    margin-right: 0;
  }

  .events__articles-description {
    min-height: 200px;
  }

  .events__articles-date {
    margin-bottom: 5px;
  }

  .events__articles-header {
    width: 250px;
  }

  .events__articles-content:nth-child(2),
  .events__articles-content:nth-child(4){ 
    margin-right: 0;
  }

  .events__articles-content:nth-child(3){ 
    margin-right: 34px;
  }

  .events__articles-content--third {
    display: none;
  }

  .events__articles-content-active {
    display: block;
  }
}

@media (max-width: 740px) {
  .events__swiper-container {
    width: 100%;
    overflow: hidden;
  }

  .events__articles {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .events__articles-content {
    width: 100%;
    flex-shrink: 0;
    margin: 0;
  }
}


