.events__container {
  padding-bottom: 80px;
}

.events__header {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.events__articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.events__swiper-container {
  width: 100%;
  height: 100%;
}

.events__articles-content {
  display: flex;
  display: none;
  flex-direction: column;
  max-width: 429px;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 313px 19px 48px 50px;
  border: 1px solid #CACACA;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 700px;
}

.events__articles-content-active {
  display: block;
}

.events__articles-content:nth-child(3){ 
  margin-right: 0;
}

.events__articles-content:last-child {
  margin-right: auto;
  margin-left: 0;
}

.events__articles-content--first {
  background-image: url(../img/events1.jpg);
}

.events__articles-content--second {
  background-image: url(../img/events2.jpg);
}

.events__articles-content--third {
  background-image: url(../img/events3.jpg);
}

.events__articles-content--four {
  display: none;
  background-image: url(../img/events4.jpg);
}

.events__articles-content--five { 
  display: none;
  background-image: url(../img/events5.jpg);
}

.events__articles-museum,
.events__articles-date {
  align-self: flex-end;
  text-align: end;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.events__main-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
}

.events__articles-header {
  width: 420px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.events__articles-description {
  max-width: 400px;
  min-height: 200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.events__articles-ref {
  max-width: 86px;
  font-size: 16px;
  line-height: 32px;
  border-bottom: 1px solid var(--add-color);
  color: var(--add-color);
  transition: all .3s ease-in-out;
}

.events__all-events-btn {
  display: block;
  max-width: 188px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 35px;
  background-color: transparent;
  border: 2px solid var(--add-color);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--add-color);
  transition: all .3s ease-in-out;
}

.events__btn-inactive{
  display: none;
}

.events__articles-ref:hover {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.events__articles-ref:focus-visible {
  background-color: var(--add-color);
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.events__articles-ref:active {
  color: #333333;
  border-bottom: 1px solid #333333;
}

.events__all-events-btn:hover {
  cursor: pointer;
  background-color: var(--add-color);
  color: var(--main-color)
}

.events__all-events-btn:focus-visible {
  box-shadow: 0px 0px 20px 0px #9D5CD0B2;
  border: 2px solid var(--add-color);
}

.events__all-events-btn:active {
  background-color: #C283F3;
  border: 2px solid #7943A4;
}

/* @media (max-width: 1919px) { 
  .events__articles-content {
    padding: 280px 24px 56px 35px;
    margin-right: 120px;
    max-width: 410px;
    max-height: 720px;
  }

  .events__articles-header {
    width: 350px;
  }

  .events__main-block {
    min-height: 385px;
  }

  .events__articles-content-first {
    background-image: url(../img/events1024-1.jpg);
  }
  
  .events__articles-content-second {
    background-image: url(../img/events1024-2.jpg);
  }
  
  .events__articles-content-third {
    background-image: url(../img/events1024-3.jpg);
  }
  
  .events__articles-content-four {
    background-image: url(../img/events1024-4.jpg);
  }
  
  .events__articles-content-five { 
    order: 4;
    background-image: url(../img/events1024-5.jpg);
  }
} */

@media (max-width: 1699px) { 
  .events__articles-content {
    margin-right: 30px;
  } 
}

@media (max-width: 1660px) { 
  .events__articles-content {
    margin-right: 60px;
    padding: 270px 24px 56px 35px;
    max-width: 380px;
    max-height: 683px;
  }
  .events__articles-header {
    width: 232px;
  }

  .events__main-block {
    min-height: 385px;
  }
}

@media (max-width: 1550px) { 
  .events__articles-content {
    margin-right: 40px;
    padding: 270px 24px 56px 35px;
    max-width: 350px;
    max-height: 683px;
  }
}

@media (max-width: 1440px) { 
  .events__articles-content {
    margin-right: 30px;
    padding: 270px 24px 56px 35px;
    max-width: 320px;
    max-height: 683px;
  }
}

@media (max-width: 1330px) { 
  .events__articles-content {
    margin-right: 27px;
    padding: 270px 24px 56px 35px;
    max-width: 300px;
    max-height: 683px;
  }
}

@media (max-width: 1290px) { 
  .events__articles-content {
    margin-right: 27px;
    padding: 220px 24px 56px 35px;
    max-width: 255px;
    max-height: 683px;
  }
  .events__articles-header {
    width: 232px;
  }

  .events__main-block {
    min-height: 385px;
  }
}

@media (max-width: 1120px) { 
  .events__container {
    padding-bottom: 70px;
  }

  .events__articles-content {
    margin-right: 27px;
    padding: 220px 24px 56px 35px;
    max-width: 229px;
    max-height: 683px;
  }

  .events__articles-description {
    min-height: 180px;
  }
}

