.galery {
  padding-top: 80px;
  padding-right: 15px;
  padding-bottom: 80px;
  background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash3.jpg);
}

.galery__container {
  display: flex;
  flex-direction: row;
}

.galery__swiper {
  max-width: 1050px;
  height: 1050px;
  padding-top: 27px;
  padding-left: 22px;
}

.galery__swiper-container{
  position: absolute;
  width: 1100px;
  height: 1050px;
  padding-top: 27px;
  padding-left: 22px;
}

.galery__swiper-slider{
  width: 1050px;
  height: 1050px;

}

.galery__left {
  margin-right: 30px;
  max-width: 400px;
}

.galery__header {
  margin-bottom: 19px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: var(--main-color);
}

.galery__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 765px;
}

.galery__text-authorize {
  color: var(--add-color);
  transition: all .3s ease-in-out;
}

.galery__label {
  margin-bottom: 10px;
}

.galery__filter {
  display: flex;
  flex-direction: column;
}

.galery__label,
.galery__text,
.galery__select option {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: var(--main-color);
}

.galery__select {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--main-color);
  background-color: transparent;
}

.galery__swiper-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  max-width: 130px;
}

.galery__image-slider {
  display: block;
  height: 350px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.galery__image-slider-1 {
  background-image: url(../img/Rectangle1.jpg);
}

.galery__image-slider-2 {
  background-image: url(/img/Rectangle2.jpg);
}

.galery__image-slider-3 {
  background-image: url(../img/Rectangle3.jpg);
}

.galery__image-slider-4 {
  background-image: url(../img/Rectangle4.jpg);
}

.galery__image-slider-5 {
  background-image: url(../img/Rectangle5.jpg);
}

.galery__image-slider-6 {
  background-image: url(../img/Rectangle6.jpg);
}

.galery__image-slider-7 {
  background-image: url(../img/Rectangle7.jpg);
}

.galery__image-slider-8 {
  background-image: url(../img/Rectangle8.jpg);
}

.galery__image-slider-9 {
  background-image: url(../img/Rectangle9.jpg);
}

.galery__image-slider-10 {
  background-image: url(../img/Rectangle10.jpg);
}

.galery__image-slider-11 {
  background-image: url(../img/Rectangle11.jpg);
}

.galery__image-slider-12 {
  background-image: url(../img/Rectangle12.jpg);
}

.galery__swiper-pagination {
  display: flex;
  align-items: center;
  top: 32px;
  left: 72px;
  max-width: 40px;
  max-height: 23px;
}

.galery__swiper-pagination-fraction {
  color: var(--main-color);
}

.galery__swiper-pagination-current,
.galery__swiper-pagination-total {
  display: block;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color);
}

.galery__button-prev,
.galery__button-next {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.galery__button-prev {
  background-image: url(../img/btn-prev.svg);
}

.galery__button-next {
  background-image: url(../img/btn-next.svg);
}

.galery__button-next:hover {
  background-image: url(../img/btn-next-hover.svg);
}

.galery__button-prev:hover {
  background-image: url(../img/btn-prev-hover.svg);
}

.galery__button-next:focus-visible {
  background-image: url(../img/btn-next-focus.svg);
}

.galery__button-prev:focus-visible {
  background-image: url(../img/btn-prev-focus.svg);
}

.galery__button-next:active {
  background-image: url(../img/btn-next-active.svg);
}

.galery__button-prev:active {
  background-image: url(../img/btn-prev-active.svg);
}

.galery__button-prev.swiper-button-disabled {
  background-image: url(../img/btn-prev-disabled.svg);  
}

.galery__button-next.swiper-button-disabled {
  background-image: url(../img/btn-next-disabled.svg);
}

.galery__text-authorize:hover,
.galery__text-authorize:focus-visible {
  background-color: var(--add-color);
  color: var(--main-color);
}

/* @media (max-width: 1700px) {
  .galery__container {
    padding-bottom: 70px;
  }

  .galery__header {
    margin-bottom: 15px;
  }

  .galery__left {
    width: 320px;
  }

  .galery__filter {
    max-width: 280px;
  }

  .galery__description {
    min-height: 610px;
  }

  .galery__swiper-container{
    padding-top: 25px;
    padding-left: 15px;
    max-width: 950px;
    max-height: 750px;
  }

  .galery__swiper-slider{
    max-width: 950px;
    max-height: 594px;
  }

  .galery__swiper-pagination {
    top: 28px;
    left: 65px;
    max-width: 50px;
  }

  .galery__image-slider {
    width: 280px;
    height: 280px;
  }

  .galery__image-slider-1 {
    background-image: url(../img/sw-2-1024-1.jpg);
  }

  .galery__image-slider-2 {
    background-image: url(../img/sw-2-1024-2.jpg);
  }

  .galery__image-slider-3 {
    background-image: url(../img/sw-2-1024-3.jpg);
  }

  .galery__image-slider-4 {
    background-image: url(../img/sw-2-1024-4.jpg);
  }

  .galery__image-slider-5 {
    background-image: url(../img/sw-2-1024-5.jpg);
  }

  .galery__image-slider-6 {
    background-image: url(../img/sw-2-1024-6.jpg);
  }

  .galery__image-slider-7 {
    background-image: url(../img/sw-2-1024-7.jpg);
  }

  .galery__image-slider-8 {
    background-image: url(../img/sw-2-1024-8.jpg);
  }

  .galery__image-slider-9 {
    background-image: url(../img/sw-2-1024-9.jpg);
  }

  .galery__image-slider-10 {
    background-image: url(../img/sw-2-1024-10.jpg);
  }

  .galery__image-slider-11 {
    background-image: url(../img/sw-2-1024-11.jpg);
  }

  .galery__image-slider-12 {
    background-image: url(../img/sw-2-1024-12.jpg);
  }
} */

@media (max-width: 1480px) {
  .galery__swiper-container{
    padding-top: 25px;
    padding-left: 15px;
    max-width: 750px;
    max-height: 750px;
  }

  .galery__swiper-slider{
    max-width: 750px;
    max-height: 594px;
  }
}

@media (max-width: 1024px) {
   .galery__swiper-container{
    max-width: 594px;
  }

  .galery__swiper-slider{
    max-width: 594px;
  }
}
