html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.galery {
  background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash3.jpg);
}

.galery__container {
  padding-top: 80px;
  padding-bottom: 79px;
}

.galery__content-wrap {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  align-items: flex-start;
}

.galery__swiper {
  width: calc(990 / 1600 * 100% + ((100vw - 100%) / 2));
  margin-right: 0;
}

.galery__swiper-slider {
  padding-left: 0px;
}

.galery__left {
  display: inline-block;
  width: calc(400 / 1600 * 100%);
  max-height: 300px;
}

.galery__last {
  position: relative;
  width: calc(400 / 1600 * 100%);
}

.galery__text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: var(--main-color);
  transform: translateY(10px);
}

.galery__header {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: var(--main-color);
}

.galery__text-authorize {
  color: var(--add-color);
  transition: all .3s ease-in-out;
}

.galery__label {
  margin-bottom: 12px;
}

.galery__filter {
  display: flex;
  flex-direction: column;
}

.galery__label,
.galery__select option {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--main-color);
}

.galery__select {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--main-color);
  background-color: transparent;
}

.galery__sheet--1 {
  display: block;
}

.galery__sheet--2 {
  display: none;
}

.galery__swiper-btns {
  position: relative;
  display: flex;
  left: 2px;
  justify-content: space-between;
  margin: 25px 0 30px 0;
  max-width: 130px;
  align-items: center;
}

.galery__image-slider {
  position: relative;
  overflow: hidden;
  max-height: 350px;
  /* background-repeat: no-repeat; */
  cursor: pointer;
  /* background-size: cover;
  background-position: center; */
  transition: border-color .3s ease-in-out;
}

.galery__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid transparent;
  transition: border-сolor .3s ease-in-out;
}

.galery__image-slider:focus-visible .galery__img {
  border-color: var(--two);
}

.galery__image-slider:active:not(focus-visible) .galery__img {
  border-color: #D1A9F0;
}

.galery__image-slider::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 100%;
  width: 100%;
  border: 3px solid transparent;
  transition: background-color .3s ease, border-сolor .3s ease-in-out;
}

.galery__image-slider::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 25px;
  box-sizing: border-box;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
  transition: opacity .3s ease-in-out, background-image .3s ease-in-out;
  background-image: url(../img/gallery-hover.png);
  opacity: 0;
}

.galery__image-slider:hover::after {
  opacity: 1;
}

.galery__image-slider:active:not(focus-visible)::before {
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 1;
}

.galery__image-slider:focus {
  outline: none;
}

/* .galery__image-slider:focus-visible::before {
  border-color: var(--two);
} */

.galery__image-slider:active::after {
  background-image: url(../img/gallery-hover.png);
  opacity: 1;
}


.galery__swiper-pagination {
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 25px;
  justify-content: flex-start;
  max-width: 80px;
  max-height: 23px;
}

.galery__swiper-pagination-fraction {
  color: var(--main-color);
}

.galery__swiper-pagination-current,
.galery__swiper-pagination-total {
  display: block;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color);
}

.galery__nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  background-color: #527590;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.galery__nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.galery__button-prev,
.galery__button-next,
.editions__button-prev,
.editions__button-next {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: all .3s ease-in-out;
  background-position: center;
}

.galery__button-prev,
.editions__button-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%23666666'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='%23666666'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E%0A");
}

.galery__button-next,
.editions__button-next {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' fill='%23666666'/%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' stroke='%23666666'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E%0A");
}

.galery__button-next:hover,
.editions__button-next:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' fill='%239D5CD0'/%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' stroke='%239D5CD0'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E ");
}

.galery__button-prev:hover,
.editions__button-prev:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%239D5CD0'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='%239D5CD0'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E ");
}

.galery__button-next:focus-visible,
.editions__button-next:focus-visible {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 29C22.732 29 29 22.732 29 15C29 7.26801 22.732 0.999999 15 0.999999C7.26801 1 1 7.26801 1 15C1 22.732 7.26801 29 15 29Z' fill='%23666666' stroke='black' stroke-width='2'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E%0A");
}

.galery__button-prev:focus-visible,
.editions__button-prev:focus-visible {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.0//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='body_1' width='29' height='29'%3E%3Cdefs%3E%3CclipPath id='1'%3E%3Cpath id='' clip-rule='evenodd' transform='matrix(1 0 0 1 0 0)' d='M22.5 -0.5L22.5 22L22.5 22L0 22L0 22L0 -0.5L0 -0.5L22.5 -0.5z' /%3E%3C/clipPath%3E%3C/defs%3E%3Cg transform='matrix(1.3333 0 0 1.3333 0 0)'%3E%3Cg clip-path='url(%231)' %3E%3Cpath id='' transform='matrix(1 0 0 -1 0 22)' d='M11.25 21.75C 5.451 21.75 0.75 17.049 0.75 11.25L0.75 11.25L0.75 11.25C 0.75 5.451008 5.451 0.7499992 11.25 0.7499992L11.25 0.7499992L11.25 0.7499992C 17.048992 0.75 21.75 5.451008 21.75 11.25L21.75 11.25L21.75 11.25C 21.75 17.049 17.048992 21.75 11.25 21.75z' stroke='%23000000' stroke-width='1.5' fill='%23666666' fill-rule='nonzero' /%3E%3Cpath id='' transform='matrix(1 0 0 -1 0 22)' d='M12 15L12 15L12 15L8.25 11.25L8.25 11.25L12 7.5' stroke='%23FFFFFF' stroke-width='1' fill='none' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.galery__button-next:active,
.editions__button-next:active {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' fill='%237943A4'/%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' stroke='%23000000'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E%0A");
}

.galery__button-prev:active,
.editions__button-prev:active {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%237943A4'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='%23000000'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E%0A");
}

.galery__button-prev.swiper-button-disabled,
.editions__button-prev.swiper-button-disabled {
  opacity: .5;
}
  

.galery__button-next.swiper-button-disabled,
.editions__button-next.swiper-button-disabled {
  opacity: .5;
}

.galery__text-authorize:hover,
.galery__text-authorize:focus-visible {
  background-color: var(--add-color);
  color: var(--main-color);
}

@media (max-width: 1024px) {
  .galery__container {
    padding-bottom: 80px;
  }

  .galery__swiper {
    width: calc(940 / 1600 * 100% + ((100vw - 100%) / 2));
  }

  .galery__left {
    width: calc(485 / 1600 * 100%);
  }

  .galery__image-slider {
    max-height: 280px;
  }

  .galery__swiper-pagination {
    top: 9px;
    left: 23px;
  }

  .galery__label {
    margin-bottom: 15px;
  }

  .choices__inner {
    max-height: 40px;
  }

  .galery__text {
    width: 284px;
    height: 160px;
    line-height: 32px;
  }
}

@media (max-width: 1010px) { 
  .galery__container {
    padding-bottom: 80px;
  }

  .galery__content-wrap {
    flex-direction: column;
  }

  .galery__filter {
    min-width: 280px;
  }

  .galery__label {
    margin-bottom: 13px;
  }

  .galery__swiper {
    padding-top: 0;
    margin-top: 28px;
    width: 100%;
    margin-bottom: 20px;
  }

  .galery__content-wrap {
    align-content: flex-start;
  }

  .galery__swiper-slider {
    padding-left: 0;
  }

  .galery__image-slider {
    max-height: 280px;
  }

  .galery__image-slider::before {
    padding-top: 87%;
  }


  .galery__swiper-btns {
    max-width: 129px;
    margin-bottom: 29px;
  }

  .galery__swiper-pagination {
    top: 7px;
    left: 22px;
  }

  .galery__last {
    width: 100%;
  }
  
  .galery__text {
    width: 100%;
    height: auto;
    position: static;
  }
}

@media (max-width: 740px) {
  .galery__header {
    font-size: 28px;
    line-height: 38px;
  }

  .galery__swiper {
    display: flex;
    flex-direction: column-reverse;
    max-width: 290px;
    min-height: 400px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    align-items: center;
    align-content: space-between;
   }

   .galery__swiper-slider {
     max-width: 290px;
     max-height: 367px;
   }

   .galery__image-slider {
      max-width: 290px;
      height: auto;
      max-height: none;
   }

   .galery__swiper-btns {
     align-self: center;
     width: 157px;
   }

  .galery__img {   
    width: 290px;
    height: 367px;
    object-fit: cover;
  }
}

@media (max-width: 320px) { 
  .galery__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .galery__header {
    margin-bottom: 17px;
  }

  .galery__filter {
    min-width: 290px;
    margin-bottom: 10px;
  }

  .galery__label {
    margin-bottom: 9px;
  }

  .galery__swiper {
    margin-bottom: 0px;
    max-height: 446px;
  }

  .galery__image-slider,
  .galery__image-slider::before  {
    min-height: 367px;
  }

  .galery__swiper-btns {
    margin-top: 20px;
    max-width: 130px;
    margin-bottom: 10px;
  }

  .galery__swiper-pagination {
    top: 10px;
  }
}