.top-wrapper {
  position: relative;
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 29px;
  color: var(--main-color);
  font-size: 18px;
}

.header__navigation-area-buttom {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom-container {
  position: relative;
  z-index: 2;
  padding-top: 23px;
  padding-bottom: 23px;
}

.header__main-block {
  background-color: rgba(0,0,0,1);
}

.header__logo {
  margin-right: 11%;
}

.header__navigation-area {
  /* position: relative; */
  display: flex;
  width: 100%;
}

.header__search-menu {
  display: none;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.header__nav-list-item {
  margin-right: 63px;
}

.header__nav-list-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border .3s ease-in-out, outline .3s ease-in-out, outline-offset .3s ease-in-out,;
}

.header__burger {
  display: none;
}

.header__nav-buttom-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 70%;
}

.header__nav-buttom-item {
  max-width: 300px;
}

.header__nav-buttom-item:last-child {
  margin-right: 0;
}

.header__form {
  position: absolute;
  content: '';
  display: flex;
  width: 250px;
  height: 25px;
  text-align: top;
  align-items: center;
  top: 125px;
  right: 160px;
  z-index: 5;
}

.header__label {
  display: flex;
  align-items: flex-end;
  padding-top: 10px;
  max-height: 26px;
}

.header__search-btn {
  align-self: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-image: url(../img/Group\ 64.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  transition: cursor .3s ease-in-out, background-image .3s ease-in-out, border-bottom .3s ease-in-out;
}

.header__input,
.header__input::placeholder { 
  border: none;
  font-size: 18px;
  line-height: 30px;
  color: var(--main-color);
  background-color: transparent;
}

.header__input {
  padding: 0;
  min-width: 218px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--main-color);
  transition: border-bottom .3s ease-in-out, cursor .3s ease-in-out, color .3s ease-in-out;
}

.header__input:hover,
.header__input:focus  { 
  border-bottom: 1px solid #C283F3;
  cursor: pointer;
}

.header__input:hover::placeholder { 
 color: rgba(255, 255, 255, 0.85);
}

.header__input:focus::placeholder {
  color: transparent;
}

.header__input:active { 
  border-bottom: 1px solid #7943A4;
  cursor: pointer;
}

.header__enter-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
  background-color: transparent;
  border: none;
  padding: 0;
  transition: color .3s ease-in-out, background-color .1s ease-in-out, border .3s ease-in-out, outline .3s ease-in-out, outline-offset .3s ease-in-out;
}

.header__enter-icn {
  margin-right: 4px;
}

.header__enter-icn path {
  transition: fill .3s ease-in-out;
}

.header__img {
  min-width: 173px;
  object-fit: cover;
}

.header__search-btn:hover:not(:focus) {
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%239D5CD0'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%239D5CD0'/%3E%3C/svg%3E%0A");
}

.header__search-btn:focus ~ input { 
  border-bottom: 1px solid #7943A4;
}

.header__search-btn:active {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%23D1A9F0'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%23D1A9F0'/%3E%3C/svg%3E%0A");
}

.header__nav-link:focus-visible,
.header__enter-btn:focus-visible {
  background-color: #7943A4;
  border: 1px solid #7943A4;
  outline: 6px solid #7943A4;
  outline-offset: 0;
}

.header__nav-link:hover:not(focus-visible),
.header__enter-btn:hover:not(focus-visible) {
  cursor: pointer;
  color: #C283F3;
}

.header__enter-btn:hover:not(focus-visible) svg path {
  fill: #C283F3;
}

.header__enter-btn:active:not(focus-visible) svg path {
  fill: #9D5CD0;
}

.header__enter-btn:active:not(focus-visible) {
  color: var(--add-color);
}

.header__nav-link:active:not(focus-visible) {
  color: #7943A4;
}

.header__btn-x {
  display: none;
}

@media (max-width: 1640px) {
  .header__logo {
    margin-right: 14%;
  }

  .header__nav-list {
    margin-right: 30px;
  }

  .header__nav-buttom-list {
    width: 75%;
  }

  .header__nav-buttom-item {
    max-width: 185px;
  }
}

@media (max-width: 1500px) {
  .header__logo {
    margin-right: 5%;
  }
  
  .header__nav-list {
    max-width: 90%;
  }

  .header__nav-buttom {
    min-width: 85%;
  }

  .header__form {
    right: 50px;
  }
}

@media (max-width: 1410px) {
  .header__container { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 26px;
    align-items: center;
  }

  .header__navigation-area-buttom {
    display: none;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__main-block {
    display: flex;
    justify-content: space-between;  
  }

  .header__navigation-area {
    display: block;
    width: 26px;
  }

  .header__nav-list {
    margin-right: 0;
  }

  .header__nav-list-item {
    margin: 0;
    flex: auto;
    align-items: left;
  }

  .header__nav-buttom {
    display: none;
  }

  .header__form {
    top: 0;
  }

  .header___main-block {
    flex-direction: row-reverse;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 36px;
    height: 28px;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: background-color .3s ease-in-out, width .3s ease-in-out;
  }

  .header__burger-span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 28px;
    height: 3px;
    top: 13px;
    transition: background-color .3s ease-in-out, width .3s ease-in-out;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: background-color .3s ease-in-out, width .3s ease-in-out;
  }

  .header__burger::before {
    top: 0;
    width: 36px;
  }

  .header__burger::after {
    bottom: 0;
    width: 24px;
  }

  .header__burger--active {
    z-index: 9;
  }

  .header__burger--active span {
    transform: scale(0);
  }

  .header__burger--active::before {
    transform: rotate(45deg);
    width: 29px;
    top: 16px;
    z-index: 10;
    transition: width .3s ease-in-out;
  }

  .header__burger--active::after {
    transform: rotate(-45deg);
    width: 29px;
    bottom: 9px;
    z-index: 10;
    transition: bottom .3s ease-in-out, width .3s ease-in-out;
  }

  .header__burger:hover::before,
  .header__burger:hover .header__burger-span, 
  .header__burger:hover::after,
  .header__burger:focus-within::before,
  .header__burger:focus-within .header__burger-span, 
  .header__burger:focus-within::after  {
    background-color: var(--add-color);
  }

  .header__burger:focus-visible .header__burger-span,
  .header__burger:focus-visible::before,
  .header__burger:focus-visible::after {
    width: 36px;
  }

  .header__burger:active::before,
  .header__burger:active .header__burger-span, 
  .header__burger:active::after  {
    background-color: #D1A9F0;
  }

  .header__burger--active:focus-visible::after {
    width: 29px;
    bottom: 9px;
  }

  .header__burger--active:focus-visible::before{
    width: 29px;
  }

  .header__enter-btn {
    color: var(--main-color);
  }

  .header__nav {
    position: absolute;
    display: none;
  }

  .header {
    position: relative;
  }

  .header__nav--is-active {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    right: 0px;
    width: 100%;
    min-height: 735px;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 59px;
    animation-name: fade-in;
    animation-duration: 1s;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: fade-in .3s ease-in-out,;
    z-index: 5;
  } 


  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .header__nav-list {
    flex-direction: column;
    width: 20%;
    color: var(--main-color);
    text-align: left;
  }

  .header__nav-list-item {
    margin-bottom: 40px;
  }

  .header__nav-list-item:last-child {
    margin-bottom: 0;
  }

  .header__enter-btn {
    display: flex;
    justify-content: center;
    align-self: start;
    align-items: center;
    background-color: transparent;
    border: 2px solid var(--add-color);
    border-radius: 100px;
    background-position: left;
    padding: 18px 87px;
    font-size: 18px;
    font-weight: 600;
  }

  .header__nav-link {
    font-weight: 600;
    font-size: 24px;
  }

  .header__enter-span {
    margin-right: 11px;
    width: 13px;
    height: 13px;
  }  

  .header__search-menu {
    display: inline-block;
    align-self: center;
    width: 30px;
    height: 30px;
    background-image: url(../img/Search-menu-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    transition: background-image .3s ease-in-out;
  }

  .header__search-menu:hover,
  .header__search-menu:focus-visible {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='29' viewBox='0 0 30 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='9.15446' height='2.28862' transform='matrix(-0.718931 0.695081 0.718931 0.695081 6.58154 21.0461)' fill='%239D5CD0'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.1246 24.174C10.0376 24.174 5.32763 19.2726 5.32763 13.5104C5.32763 7.74823 10.0376 2.84676 16.1246 2.84676C22.2115 2.84676 26.9215 7.74823 26.9215 13.5104C26.9215 19.2726 22.2115 24.174 16.1246 24.174ZM16.1246 26.8399C8.76285 26.8399 2.79502 20.8721 2.79502 13.5104C2.79502 6.14869 8.76285 0.180847 16.1246 0.180847C23.4863 0.180847 29.4541 6.14869 29.4541 13.5104C29.4541 20.8721 23.4863 26.8399 16.1246 26.8399Z' fill='%239D5CD0'/%3E%3C/svg%3E%0A");
  }

  .header__search-menu:active {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='29' viewBox='0 0 30 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='9.15446' height='2.28862' transform='matrix(-0.718931 0.695081 0.718931 0.695081 6.58154 21.0461)' fill='%23C283F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.1246 24.174C10.0376 24.174 5.32763 19.2726 5.32763 13.5104C5.32763 7.74823 10.0376 2.84676 16.1246 2.84676C22.2115 2.84676 26.9215 7.74823 26.9215 13.5104C26.9215 19.2726 22.2115 24.174 16.1246 24.174ZM16.1246 26.8399C8.76285 26.8399 2.79502 20.8721 2.79502 13.5104C2.79502 6.14869 8.76285 0.180847 16.1246 0.180847C23.4863 0.180847 29.4541 6.14869 29.4541 13.5104C29.4541 20.8721 23.4863 26.8399 16.1246 26.8399Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
  }

  .header__form {
    display: none;
  }

  .header__search-btn-epsent {
    display: none;
  }

  .header__search-menu-active {
    position: absolute;
    top: 40px;
    right: 30px;
    width: auto;
    height: 30px;
    display: flex;
    background-color: #18171B;
    animation-name: fade-in;
    animation-duration: .5s;
  }

  .header__input {
    border-bottom: 1px solid #d9d9d9;
  }

  .header__search-menu-active .header__input::placeholder {
    color: transparent;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .header__form-inactive {
    display: none;
  }

  .header__burger:hover {
    cursor: pointer;
  }

  .header__search-menu:hover {
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .header__container {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .header__logo-mobile {
    position: absolute;
    left: calc(50% - 94.5px);
    display: inline-block;
  }
  
  .header__img {
    width: 190px;
    height: 44px;
    object-fit: contain;
  }

  .header__nav--is-active {
    min-height: 775px;
  }
}

@media (max-width: 960px) {
  .header__enter-btn {
    margin-right: auto;
  }

  .header__search-menu-active {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .header__search-menu-active {
    width: 90%;
    background-color: transparent;
  }

  .header__search-menu {
    padding: 0;
    width: 27px;
    height: 27px;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='28' viewBox='0 0 27 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.0006 12C24.0006 16.9706 19.9712 21 15.0006 21C10.0301 21 6.00063 16.9706 6.00063 12C6.00063 7.02944 10.0301 3 15.0006 3C19.9712 3 24.0006 7.02944 24.0006 12ZM27.0006 12C27.0006 18.6274 21.628 24 15.0006 24C12.2287 24 9.6762 23.0601 7.64456 21.4816L2.12132 27.0049L0 24.8836L5.52271 19.3609C3.94199 17.3284 3.00063 14.7742 3.00063 12C3.00063 5.37258 8.37322 0 15.0006 0C21.628 0 27.0006 5.37258 27.0006 12Z' fill='white'/%3E%3C/svg%3E%0A");
    transition: background-image .3s ease-in-out;
  }

  .header__search-menu:hover,
  .header__search-menu:focus-within {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='28' viewBox='0 0 27 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.0006 12C24.0006 16.9706 19.9712 21 15.0006 21C10.0301 21 6.00063 16.9706 6.00063 12C6.00063 7.02944 10.0301 3 15.0006 3C19.9712 3 24.0006 7.02944 24.0006 12ZM27.0006 12C27.0006 18.6274 21.628 24 15.0006 24C12.2287 24 9.6762 23.0601 7.64456 21.4816L2.12132 27.0049L0 24.8836L5.52271 19.3609C3.94199 17.3284 3.00063 14.7742 3.00063 12C3.00063 5.37258 8.37322 0 15.0006 0C21.628 0 27.0006 5.37258 27.0006 12Z' fill='%239d5cd0'/%3E%3C/svg%3E ");
  }

  .header__search-menu:active {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='28' viewBox='0 0 27 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.0006 12C24.0006 16.9706 19.9712 21 15.0006 21C10.0301 21 6.00063 16.9706 6.00063 12C6.00063 7.02944 10.0301 3 15.0006 3C19.9712 3 24.0006 7.02944 24.0006 12ZM27.0006 12C27.0006 18.6274 21.628 24 15.0006 24C12.2287 24 9.6762 23.0601 7.64456 21.4816L2.12132 27.0049L0 24.8836L5.52271 19.3609C3.94199 17.3284 3.00063 14.7742 3.00063 12C3.00063 5.37258 8.37322 0 15.0006 0C21.628 0 27.0006 5.37258 27.0006 12Z' fill='%23C283F3'/%3E%3C/svg%3E ");
  }

  .header__btn-x {
    display: flex;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }

  .header__input {
    min-width: 590px;
  }

  .header__search-menu-active .header__input {
    width: 100%;
    margin-right: 23px;
  }

  .header__search-open .header__burger {
    visibility: hidden;
    opacity: 0;
    transition: opasity 0s, visibility 0s;
  }

  .header__search-open .header__logo {
    opacity: 0;
    transition: opasity 0s;
  }

  .header__search-menu-active .header__btn-x svg g rect {
    transition: fill .3s ease-in-out;
  }

  .header__search-menu-active .header__btn-x:hover svg g rect {
    fill: var(--add-color);
  }

  .header__search-menu-active .header__btn-x:active svg g rect {
    fill: #7943A4;
  }
}

@media (max-width: 756px) {
  .header__nav--is-active {
    min-height: auto;
    padding-left: 50px;
  }

  .header__nav-link {
    font-size: 16px;
    line-height: 32px;
  }

  .header__nav-list-item {
    margin-bottom: 10px;
  }

  .header__enter-btn {
    padding: 11px 30px;
  }

  .header__nav-list {
    align-content: flex-start;
    margin-bottom: 10%;
  }
}

@media (max-width: 740px) {
  .header__search-menu-active {
    position: absolute;
    top: -15px;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 16;
    width: 100%;
    right: 0;
    padding: 23px 15px 20px 56px;
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 128px;
    margin-right: auto;
    margin-left: auto;
  }

  .header__btn-x {
    align-self: flex-start;
  }

  .header__search-open .header__burger {
    visibility: visible;
    opacity: 1;
    transition: opasity 0s, visibility 0s;
  }

  .header__search-open .header__logo {
    opacity: 1;
    transition: opasity 0s;
  }

  .header__input {
    min-width: 180px;
  }

  .header__nav--is-active {
    padding-top: 95px;
    padding-left: 15px;
  }

  .header__burger--active::before {
    top: 17px;
  }

  .header__burger--active::before,
  .header__burger--active::after {
    width: 19px;
    height: 2px;
}
}

@media (max-width: 415px) {
  .header__container {
    padding-top: 12px;
    padding-bottom: 15px;
  }

  .header__nav-list {
    align-content: flex-start;
    margin-bottom: 25%;
  }

  .header__nav--is-active {
    padding-top: 50px;
  }

  .header__search-menu-active { 
    padding-left: 26px;
  }

  .header__input {
    margin-right: 7px;
  }

  .header__burger::before {
    width: 25px;
  }

  .header__burger-span {
    width: 16px;
  }

  .header__burger::after {
    width: 10px;
  }

  .header__burger--active::before {
    top: 17px;
  }

  .header__burger--active::before,
  .header__burger--active::after {
    width: 19px;
    height: 2px;
 }

  .header__logo,
  .header__img {
    min-width: 97px;
    width: 97px;
    min-height: 12px;
    margin-left: 20px;
  }

  .header__search-menu {
    width: 16px;
    height: 16px;
    align-self: flex-start;
    background-position: left;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0002 8C16.0002 11.3137 13.3139 14 10.0002 14C6.68648 14 4.00019 11.3137 4.00019 8C4.00019 4.68629 6.68648 2 10.0002 2C13.3139 2 16.0002 4.68629 16.0002 8ZM18.0002 8C18.0002 12.4183 14.4185 16 10.0002 16C8.15297 16 6.45197 15.3739 5.09782 14.3224L1.41617 18.0041L0.00195312 16.5898L3.68288 12.9089C2.62828 11.5537 2.00019 9.8502 2.00019 8C2.00019 3.58172 5.58191 0 10.0002 0C14.4185 0 18.0002 3.58172 18.0002 8Z' fill='white'/%3E%3C/svg%3E ");  
    transition: background-image .3s ease-in-out;
  }

  .header__search-menu:hover,
  .header__search-menu:focus-visible {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0002 8C16.0002 11.3137 13.3139 14 10.0002 14C6.68648 14 4.00019 11.3137 4.00019 8C4.00019 4.68629 6.68648 2 10.0002 2C13.3139 2 16.0002 4.68629 16.0002 8ZM18.0002 8C18.0002 12.4183 14.4185 16 10.0002 16C8.15297 16 6.45197 15.3739 5.09782 14.3224L1.41617 18.0041L0.00195312 16.5898L3.68288 12.9089C2.62828 11.5537 2.00019 9.8502 2.00019 8C2.00019 3.58172 5.58191 0 10.0002 0C14.4185 0 18.0002 3.58172 18.0002 8Z' fill='%23C283F3'/%3E%3C/svg%3E ");
  }

  .header__search-menu:active {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0002 8C16.0002 11.3137 13.3139 14 10.0002 14C6.68648 14 4.00019 11.3137 4.00019 8C4.00019 4.68629 6.68648 2 10.0002 2C13.3139 2 16.0002 4.68629 16.0002 8ZM18.0002 8C18.0002 12.4183 14.4185 16 10.0002 16C8.15297 16 6.45197 15.3739 5.09782 14.3224L1.41617 18.0041L0.00195312 16.5898L3.68288 12.9089C2.62828 11.5537 2.00019 9.8502 2.00019 8C2.00019 3.58172 5.58191 0 10.0002 0C14.4185 0 18.0002 3.58172 18.0002 8Z' fill='%239D5CD0'/%3E%3C/svg%3E ");  
  }

  .header__nav-list-item {
    margin-bottom: 0;
  }

  @media (max-width: 380px) {
    .header__nav-list {
      margin-bottom: 27%;
    }

    .header__img {
      display: inline-flex;
      max-width: 96px;
      max-height: 25px;
      object-fit: contain;
    }
  }

  @media (max-width: 320px) {
    .header__container {
      padding-top: 10px;
      padding-bottom: 7px;
    }

    .header__nav-list {
      margin-bottom: 26px;
    }

    .header__burger::before,
    .header__burger::after,
    .header__burger-span {
      height: 2px;
    }

    .header__burger::before {
      transform: translateY(2px);
    }

    .header__burger-span {
      transform: translateY(-2px);
    }

    .header__burger::after {
      transform: translateY(-7px);
    }

    .header__img {
      margin-left: 25px;
    }

    .header__navigation-area {
      display: inline-flex;
      text-align: end;
      margin-right: -8px;
      transform: translateY(-1px);
    }

    .header__search-menu-active {
      width: 325px;
      right: -10px;
      padding: 5px 15px 20px 56px;
      min-height: 75px;
    }

    .header__search-menu {
      width: 18px;
      height: 18px;
    }

    .header__burger--active::before {
      transform: rotate(45deg);
      width: 19px;
      top: 16px;
      z-index: 10;
      transition: width .3s ease-in-out;
    }
  
    .header__burger--active::after {
      transform: rotate(-45deg);
      width: 19px;
      bottom: 10px;
      z-index: 10;
      transition: bottom .3s ease-in-out, width .3s ease-in-out;
    }

    .header__nav--is-active {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      top: -15px;
      right: -5px;
      width: 320px;
      min-height: 736px;
      padding-top: 55px;
      padding-left: 20px;
      padding-right: 30px;
      padding-bottom: 59px;
      animation-name: fade-in;
      animation-duration: 1s;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.9);
      box-shadow: 0px 4px 4px 0px #00000040;
      transition: fade-in .3s ease-in-out,;
      z-index: 5;
    } 
  }
}



