.top-wrapper {
  position: relative;
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 10;
}

.header__container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--main-color);
  font-size: 18px;
}

.header__navigation-area-buttom {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom-container {
  position: relative;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 23px;
}

.header__main-block {
  background-color: rgba(0,0,0,1);
}

.header__logo {
  margin-right: 11%;
}

.header__navigation-area {
  position: relative;
  display: flex;
  min-width: 1200px;
}

.header__search-menu {
  display: none;
}

.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1250px;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.header__nav-list-item {
  margin-right: 62px;
}

.header__nav-list-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.header__burger {
  display: none;
}

.header__nav-buttom {
  min-width: 1300px;
}

.header__nav-buttom-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 70%;
}

.header__nav-buttom-item {
  max-width: 210px;
}

.header__nav-buttom-item:last-child {
  margin-right: 0;
}

.header__form {
  position: absolute;
  content: '';
  display: flex;
  width: 250px;
  height: 30px;
  top: 97px;
  right: -5px;
  z-index: 5;
}

.header__search-btn {
  align-self: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-image: url(../img/Group\ 64.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.header__input,
.header__input::placeholder { 
  border: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-color);
  background-color: transparent;
}

.header__input {
  padding: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--main-color);
  transition: all .3s ease-in-out;
}

.header__input:hover,
.header__input:focus  { 
  border-bottom: 1px solid #C283F3;
  cursor: pointer;
}

.header__input:hover::placeholder { 
 color: rgba(255, 255, 255, 0.85);
}

.header__input:focus::placeholder {
  color: transparent;
}

.header__input:active { 
  border-bottom: 1px solid #7943A4;
  cursor: pointer;
}

.header__enter-btn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  width: 90px;
  height: 20px;
  padding-left: 0;
  color: var(--main-color);
  background-color: transparent;
  border: none;
  transition: all .3s ease-in-out;
}

.header__enter-span {
  display: block;
  margin-right: 11px;
  width: 13px;
  height: 13px;
  background-image: url(../img/Vector.svg);
  transition: all .3s ease-in-out;
}

.header__enter-btn-text {
  color: var(--main-color);
  transition: all .3s ease-in-out;
}

.header__search-btn:hover:not(:focus) {
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%239D5CD0'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%239D5CD0'/%3E%3C/svg%3E%0A");
}

.header__search-btn:focus-visible:not(:hover) { 
  background-color: #7943A4;
}

.header__search-btn:active {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%23D1A9F0'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%23D1A9F0'/%3E%3C/svg%3E%0A");
}

.header__nav-link:focus-visible,
.header__enter-btn:focus-visible {
  background-color: #7943A4;
}

.header__nav-link:hover,
.header__enter-btn:hover {
  cursor: pointer;
  color: #C283F3;
}

.header__nav-link:active {
  color: #7943A4;
}

.header__enter-btn:hover .header__enter-span{
  background-image: url(../img/Vector-hover.svg);
}

.header__enter-btn:active {
  color: var(--add-color);
}

.header__enter-btn:active .header__enter-span{
  background-image: url(../img/Vector-active.svg);
}

@media (max-width: 1640px) {
  .header__logo {
    margin-right: 15%;
  }

  .header__nav {
    min-width: 90%;
  }

  .header__nav-list {
    margin-right: 30px;
  }

  .header__navigation-area {
    min-width: 70%;
  }

  .header__nav-buttom-list {
    width: 75%;
  }

  .header__nav-buttom-item {
    max-width: 185px;
  }
}

@media (max-width: 1500px) {
  .header__logo {
    margin-right: 5%;
  }
  
  .header__nav-list {
    max-width: 90%;
  }

  .header__nav-buttom {
    min-width: 85%;
  }
}

@media (max-width: 1410px) {
  .header__container { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 26px;
    align-items: center;
  }

  .header__navigation-area-buttom {
    display: none;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__main-block {
    display: flex;
    justify-content: space-between;  
  }

  .header__navigation-area {
    display: inline-block;
    min-width: 26px;
  }

  .header__nav-list {
    margin-right: 0;
  }

  .header__nav-list-item {
    margin: 0;
    flex: auto;
    align-items: left;
  }

  .header__nav-buttom {
    display: none;
  }

  .header__form {
    top: 0;
  }

  .header___main-block {
    flex-direction: row-reverse;
  }

  .header__img {
    min-width: 188px;
    object-fit: cover;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 36px;
    height: 28px;
    cursor: pointer;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }

  .header__burger-span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 28px;
    height: 3px;
    top: 13px;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }

  .header__burger::before {
    top: 0;
    width: 36px;
  }

  .header__burger::after {
    bottom: 0;
    width: 24px;
  }

  .header__burger--active {
    z-index: 9;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }

  .header__burger--active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .header__burger--active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 29px;
    margin-top: 16px;
    z-index: 10;
  }

  .header__burger--active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 29px;
    margin-bottom: 9px;
    z-index: 10;
  }

  .header__enter-btn {
    color: var(--main-color);
  }

  .header__nav {
    display: none;
    width: 2160%;
  }

  .header__nav--is-active {
    position: absolute;
    display: block;
    top: -30px;
    right: -50px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    animation-name: fade-in;
    animation-duration: 1s;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: fade-in .3s ease-in-out,;
    z-index: 5;
  } 


  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .header__nav-list {
    flex-direction: column;
    width: 20%;
    height: 488px;
    color: var(--main-color);
    margin-bottom: 60px;
  }

  .header__nav-list-item:last-child {
    margin-bottom: 0;
  }

  .header__enter-btn {
    display: flex;
    justify-content: space-between;
    align-self: start;
    align-items: center;
    width: 260px;
    height: 20px;
    padding: 19px 88px 22px 88px;
    background-color: transparent;
    border: 2px solid var(--add-color);
    border-radius: 100px;
  }

  .header__enter-span {
    margin-right: 11px;
    width: 13px;
    height: 13px;
  }  

  .header__search-menu {
    display: inline-block;
    align-self: center;
    width: 30px;
    height: 30px;
    background-image: url(../img/Search-menu-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
  }

  .header__form {
    display: none;
  }

  .header__search-btn-epsent {
    display: none;
  }

  .header__search-menu-active {
    position: absolute;
    right: 0;
    top: 10px;
    width: auto;
    height: 30px;
    display: flex;
    background-color: #18171B;
    animation-name: fade-in;
    animation-duration: .5s;
  }

  .header__input {
    border-bottom: 1px solid #d9d9d9;
  }

  .header__search-menu-active .header__input::placeholder {
    color: transparent;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .header__form-inactive {
    display: none;
  }

  .header__burger:hover {
    cursor: pointer;
  }

  .header__search-menu:hover {
    cursor: pointer;
  }
}

@media (max-width: 1340px) { 
  .header__nav {
    width: 2170%;
  }
}

@media (max-width: 1270px) { 
  .header__nav {
    width: 2190%;
  }
}

@media (max-width: 1160px) { 
  .header__nav {
    width: 2200%;
  }
}

@media (max-width: 1090px) { 
  .header__nav {
    width: 2210%;
  }
}

@media (max-width: 1024px) {
  .header__nav {
    width: 2220%;
 }

  .header__nav-list {
    max-width: 50px;
    margin-bottom: 83px;
  }
}

@media (max-width: 960px) {
  .header__nav {
    width: 2235%;
 }

  .header__enter-btn {
    margin-right: auto;
  }

  .header__nav {
    padding-bottom: 146px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    width: 2300%;
 }
}