.hero {
  padding-bottom: 45px;
  z-index: 1;
}

.hero__container {
  padding-top: 70px;
  padding-bottom: 74px;
  z-index: 0;
}

.hero__header {
  max-width: 597px;
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 82px;
  font-weight: 700;
  color: var(--main-color);
}

.hero__text {
  max-width: 597px;
  margin-bottom: 90px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--main-color);
}

.hero__btn {
  position: relative;
  padding: 22px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: 3px solid transparent;
  border-radius: 100px;
  color: var(--main-color);
  background-color: var(--add-color);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.hero__btn:after {
  position: absolute;
  content: '';
  padding: 27px 40px;
  width: 330px;
  height: 84px;
  top: -8px;
  right: 0;
  bottom: 0;
  left: -8px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.hero__swiper-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero__swiper-slide {
  display: block;
  background-repeat: no-repeat;
}

.hero__swiper-slide--1 {
  background-image: url(../img/hero-bckgrnd-1.jpg);
}

.hero__swiper-slide--2 {
  background-image: url(../img/hero-bckgrnd-2.jpg);
}

.hero__swiper-slide--3 {
  background-image: url(../img/hero-bckgrnd-3.jpg);
}

.hero .hero__swiper-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 112%;
  overflow: hidden;
}

.hero__swiper-slide-active {
  animation: zoomImage infinite 7s ease-in-out;
  background-size: cover;
  overflow: hidden;
}

@keyframes zoomImage {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.hero__swiper-wrapper {
  width: 100%;
  height: 100%;
}

.hero__content {
  position: relative;
  z-index: 2;
}


.hero__btn:hover {
  border: 3px solid #D1A9F0;
}

.hero__btn:active {
  background-color: #7943A4;
  border: 3px solid #D1A9F0;
}

.hero__btn:focus-visible::after {
  border: 2px solid #C283F3;
}

@media (max-width: 1410px) {
  .hero__container {
    padding-top: 112px;
    padding-bottom: 38px;
  }

  .hero__container::before { 
    display: none;
  }

  .hero__header {
    margin-bottom: 15px;
  }

  .hero__text {
    max-width: 660px;
    line-height: 28px;
    margin-bottom: 134px;
  }
}

@media (max-width: 1024px) {
  .hero {
    padding-bottom: 78px;
  }

  .hero__swiper-slide--1 {
    background-image: url(../img/hero-bckgrnd-1-1024.jpg);
  }

  .hero__swiper-slide--2 {
    background-image: url(../img/hero-bckgrnd-2-1024.jpg);
  }

  .hero__swiper-slide--3 {
    background-image: url(../img/hero-bckgrnd-3-1024.jpg);
  }

  .hero__btn {
    padding: 20px 32px;
  }
}

@media (max-width: 768px) {
  .hero__swiper-slide--1 {
    background-image: url(../img/hero-bckgrnd-1-768.jpg);
  }

  .hero__swiper-slide--2 {
    background-image: url(../img/hero-bckgrnd-2-768.jpg);
  }

  .hero__swiper-slide--3 {
    background-image: url(../img/hero-bckgrnd-3-768.jpg);
  }
}

@media (max-width: 756px) {
  .hero {
    padding-bottom: 0;
  }

  .hero__container {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .hero__header {
    max-width: 258px;
    font-size: 32px;
    line-height: 43px;
    margin-right: 0;
    align-self: center;
  }

  .hero__text {
    max-width: 265px;
    font-size: 12px;
    line-height: 16px;
    align-self: center;
  }

  .hero__btn {
    padding: 11px 19px;
    align-self: center;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__btn::after {
    position: absolute;
    content: '';
    padding: 13px 25px;
    width: 218px;
    height: 54px;
    top: -8px;
    right: 0;
    bottom: 0;
    left: -8px;
    border: 2px solid transparent;
    border-radius: 100px;
  }  
}

@media (max-width: 320px) {
  .hero {
    padding-bottom: 0;
  }

  .hero__container {
    padding-top: 30px;
    padding-bottom: 45px;
  }

  .hero__text {
    margin-bottom: 20px;
  }

  .hero__swiper-slide--1 {
    background-image: url(../img/hero-bckgrnd-1-320.jpg);
    height: 355px;
  }

  .hero__swiper-slide--2 {
    background-image: url(../img/hero-bckgrnd-2-320.jpg);
    height: 355px;

  }

  .hero__swiper-slide--3 {
    background-image: url(../img/hero-bckgrnd-3-320.jpg);
    height: 355px;
  }
}