[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-79-controls__control {
  background-color: transparent;
  border-radius: 6px;
  margin-top: 150px;
  margin-bottom: 20px;
  padding: 5px 5px;
}

.ymaps-2-1-79-zoom__plus .ymaps-2-1-79-zoom__icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 341.4 341.4' style='enable-background:new 0 0 341.4 341.4;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpolygon points='192,149.4 192,0 149.4,0 149.4,149.4 0,149.4 0,192 149.4,192 149.4,341.4 192,341.4 192,192 341.4,192 341.4,149.4 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}

.ymaps-2-1-79-zoom__minus .ymaps-2-1-79-zoom__icon {
  background-image: url("data:image/svg+xml,%3Csvg height='10pt' viewBox='0 -192 469.33333 469' width='469pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0'/%3E%3C/svg%3E");
}
