.projects__container {
  padding-top: 80px;
  padding-bottom: 72px;
}

.projects__header {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.projects__description {
  max-width: 1080px;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 32px;
}

.projects__description-ref {
  color: var(--add-color);
  cursor: pointer;
  transition: color .3s ease-in-out, border-bottom .3s ease-in-out, background-color .3s ease-in-out;
}

.projects__description-ref:hover {
  border-bottom: 1px solid var(--add-color);
}

.projects__description-ref:focus-visible {
  background-color: var(--add-color);
  color: #ffffff;
}

.projects__description-ref:active {
  border-bottom: 1px solid #7943A4;
  color: #7943A4;
}

.projects__partners-header {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.projects__main-block {
  position: relative;
}

.projects__button-prev,
.projects__button-next {
  display: block;
  border: none;
  outline: none;
  padding: 0;
  width: 35px;
  height: 35px;
  filter: grayscale(100%);
  opacity: 0.4;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: filter .3s ease-in-out, opacity .3s ease-in-out, background-image .3s ease-in-out, cursor .3s ease-in-out;
}

.projects__button-prev,
.projects__button-next {
  position: absolute;
  top: 61px;
  width: 32px;
  height: 32px;
  padding: 2px;
  overflow: visible;
}

.projects__button-prev {
  left: 0;
}

.projects__button-next {
  right: 0;
}

.projects__swiper-container {
  max-width: 1450px;
  min-height: 155px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.projects__swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
  text-align: center;
}

.projects__sw-slide {
  position: relative;
  max-height: 150px;
  flex-shrink: 0;
  cursor: pointer;
  display: block;
  filter: grayscale(100%);
  opacity: 0.4;
  border: 1px solid transparent;
  outline-offset: -1px;
  transition: border .2s;
  transition: border .3s ease-in-out, outline-offset .3s ease-in-out, filter .3s ease-in-out;
}

.projects__sw-slide:focus {
  filter: grayscale(0%);
  opacity: 1;
  border: 1px solid var(--add-color);
}

.projects__sw-slide:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.projects__button-prev:hover,
.projects__button-next:hover {
  filter: grayscale(0%);
  opacity: 1;
  cursor: pointer;
}

.projects__button-prev {
  background-image: url(../img/project-btn-prev.svg);
}

.projects__button-next {
  background-image: url(../img/project-btn-next.svg);
}

.projects__tooltip__span {
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-image: url(../img/i\ -\ Тултип.svg);
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
}

.projects__tooltip__span:hover,
.projects__tooltip__span:focus { 
  background-image: url(../img/tooltip-hover-focus.svg);
}

.projects__tooltip__span:active { 
  background-image: url(../img/i\ -\ active.svg);
}

.tippy-box[data-theme~='light-1'] {
  display: flex;
  text-align: center;
  width: 300px;
  padding: 8px 11px 22px 11px;
  background-color: var(--add-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.tippy-box[data-theme~='light-2'] {
  display: flex;
  width: 264px;
  padding: 7px 11px 19px 11px;
  background-color: var(--add-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.tippy-box[data-theme~='light-3'] {
  display: flex;
  text-align: center;
  max-width: 250px;
  height: 42px;
  padding: 7px 5px 19px 5px;
  background-color: var(--add-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.tippy-box .tippy-arrow:before {
  color: var(--add-color) !important; 
}

.projects__button-prev:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%23D1A9F0'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='none'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='black'/%3E%3C/svg%3E ");
}

.projects__button-next:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='15' cy='15' rx='15' ry='15' transform='rotate(-90 15 15)' fill='%23D1A9F0'/%3E%3Cpath d='M14 10L19 15L14 20' stroke='black'/%3E%3C/svg%3E%0A");
}

.projects__button-prev:focus-visible {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%23ECECEC' /%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='%239D5CD0' stroke-width='2'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='black'/%3E%3C/svg%3E%0A");
}

.projects__button-next:focus {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1C22.732 1 29 7.26801 29 15C29 22.732 22.732 29 15 29C7.26801 29 1 22.732 1 15C1 7.26801 7.26802 0.999999 15 1Z' fill='%23ECECEC' stroke='%239D5CD0' stroke-width='2'/%3E%3Cpath d='M14 10L19 15L14 20' stroke='black'/%3E%3C/svg%3E%0A");
}

.projects__button-prev:active {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%23D1A9F0' /%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='%239D5CD0' stroke-width='2'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='black'/%3E%3C/svg%3E%0A");
}

.projects__button-next:active {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1C22.732 1 29 7.26801 29 15C29 22.732 22.732 29 15 29C7.26801 29 1 22.732 1 15C1 7.26801 7.26802 0.999999 15 1Z' fill='%23D1A9F0' stroke='%239D5CD0' stroke-width='2'/%3E%3Cpath d='M14 10L19 15L14 20' stroke='black'/%3E%3C/svg%3E%0A");
}

.projects__button-prev .swiper-button-disabled {
  opacity: .1;
}

.projects__button-next .swiper-button-disabled {
  opacity: .1;
}

@media (max-width: 1640px) {
  .projects__swiper-container {
    max-width: 818px;
    min-height: 128px;
  }

  .projects__button-prev,
  .projects__button-next {
    top: 50px;
  }
  
  .projects__sw-img {
    max-height: 128px;
  }
}

@media (max-width: 1024px) {
  .projects__container {
    padding-bottom: 76px;
  }

  .projects__header {
    margin-bottom: 14px;
  }

  .projects__main-block {
    max-height: 130px;
  }

  .projects__description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 32px;
  }

  .projects__main-block {
    height: 160px;
  }
  .projects__swiper-container {
    padding-top: 0;
  }
}

@media (max-width: 998px) { 
  .projects__swiper-container {
    max-width: 668px; 
  }

  .projects__button-prev,
  .projects__button-next {
    top: 35px;
  }

  .projects__main-block {
    height: 100px;
  }
}

@media (max-width: 860px) { 
  .projects__container {
    padding-top: 82px;
  }

  .projects__swiper-container {
    max-width: 562px;
  }

  .projects__button-prev,
  .projects__button-next {
    top: 25px;
  }

  .projects__description {
    max-width: 650px;
    margin-bottom: 25px;
  }

  .projects__partners-header {
    margin-bottom: 38px;
  }
}

@media (max-width: 580px) {
.projects__button-prev, 
.projects__button-next {
    top: 45px;
}
}