.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-scrollbar {
  display: block !important;
  height: 28px !important;
  width: 2px;
  opacity: 1;
  background-color: #ffffff;
}

.simplebar-track.simplebar-vertical {
  position: absolute;
  top: 0;
  right: 0;
  width: 11px;
  visibility: visible !important;
  background-color: #000000;
  width: 2px;
  height: 220px;
  opacity: 1;
}

.simplebar-visible {
  transform: translate3d(0px, 190px, 0px)
}

.header__scroll-1-inactive {
  display: inline-block;
}

.simplebar-track.simplebar-horizontal {
  visibility: hidden;
}

.header__scroll-list-item:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  outline: 2px solid #D1A9F0;
}

