/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-scrollbar {
  width: 2px;
  opacity: 1;
  background-color: #ffffff;
}

.simplebar-track.simplebar-vertical {
  position: absolute;
  top: 0;
  right: 0;
  width: 11px;
  background-color: #000000;
  width: 2px;
  height: 220px;
  opacity: 1;
}

.simplebar-visible {
  -webkit-transform: translate3d(0px, 190px, 0px);
          transform: translate3d(0px, 190px, 0px)
}

.header__scroll-1-inactive {
  display: inline-block;
}

.simplebar-track.simplebar-horizontal {
  visibility: hidden;
}

.header__scroll-list-item:active {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(194, 131, 243, 0.4)), to(rgba(194, 131, 243, 0.4)));
  background: -o-linear-gradient(bottom, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  outline: 2px solid #D1A9F0;
}
